[2020-04-08 10:51] HTenkanen opened #1 "Release on conda-forge"
To make installations more stable on all operating systems, publish the tool on conda-forge

[2020-04-08 10:56] HTenkanen opened #2 "Integrate khash function into pyrosm natively"
Currently pyrosm relies on using [cykhash](https://github.com/realead/cykhash) for the fast lookups. However, we only use two functions from cykhash, and as that library is not available on PyPi nor conda-forge, it would be better to integrate the `cykhash.khashsets.Int64Set_from_buffer` and `cykhash.isin_int64` functions directly to pyrosm to avoid the dependency.

[2020-04-08 11:27] HTenkanen opened #3 "Parse buildings from OSM"
Add functionality to parse buildings from OSM PBF.

[2020-04-08 11:28] HTenkanen opened #4 "Parse Points of interest from OSM"
Add functionality to parse POIs from OSM PBF.

[2020-04-08 20:26] HTenkanen opened #6 "Add possibility to crop PBF and save to disk"
For processing very large pbf files, it is better to allow the user to first crop the pbf into smaller chunk and save that to disk (i.e. mimic what can be done with Osmosis). This should also be relatively fast with Cython.

[2020-04-13 10:30] #3 closed

[2020-04-15 21:55] #4 closed

[2020-04-16 08:56] HTenkanen opened #10 "Parse landuse"
Add function that parses landuse tags from OSM.

[2020-04-16 08:58] HTenkanen opened #11 "Parse natural"
Add function to parse natural elements from OSM

[2020-04-16 09:00] HTenkanen opened #12 "Add function to make custom queries"
Add a generic function to parse OSM data by user defined filter.

[2020-04-16 20:29] #10 closed

[2020-04-16 20:30] HTenkanen commented on #12
Closed by #13

[2020-04-16 20:30] #12 closed

[2020-04-16 20:30] HTenkanen commented on #11
Closed by #13

[2020-04-16 20:30] #11 closed

[2020-04-22 16:53] HTenkanen opened #15 "Add possibility to parse boundaries from PBF"
It's useful to have the ability to parse boundaries such as administrative boundaries or natural/protected areas etc from PBF.

[2020-04-23 11:31] #15 closed

[2020-04-25 20:31] HTenkanen opened #21 "Follow MultiPolygon parsing algorithm"
When parsing MultiPolygon relations, should follow this logic: https://wiki.openstreetmap.org/wiki/Relation:multipolygon/Algorithm

[2020-04-27 07:53] chourmo opened #22 "Filters on highway is and, others are or ?"
Thanks for this great project.

The boolean logic of filters seems to be a "or" on each key, except on "highway"
 {
    "cycleway": ["yes", "track", "opposite_track", "share_busway", "shared", "lane", "opposite_lane", "opposite", "shared_lane", "opposite_share_busway"],
    "cycleway:left": ["lane", "yes"],
    "cycleway:right": ["lane", "yes"],
    "cycleway:both": ["lane", "yes"],
    "bicycle":

[2020-04-27 12:45] HTenkanen commented on #22
@chourmo Thanks for your feedback! When doing these calls, are you using the `get_data_by_custom_criteria()` method? Could you explain shortly what you are trying to do, so I can help you out to create a correct kind of filter.

The way how filtering the roads is done by default in `get_network()` is by **excluding** data (i.e. dropping out) if certain tags are found from the data (see e.g. [this

[2020-04-27 14:00] HTenkanen commented on #22
@chourmo Okay, I checked the things now using your data, and it seems that the filtering with "keep" does not work as it should, as there are rows "leaking" to the final results even when the criteria in the custom_filter (i.e. "second-level filtering") is not met, as in this example where I applied your filtering criteria:
![image](https://user-images.githubusercontent.com/6659534/80380465-87eb37

[2020-04-27 14:04] HTenkanen commented on #22
TODO (issue): When **none** of the filter keys exist for a given OSM element, it should be dropped out. Otherwise additional rows *leak* to the result after filtering.

[2020-04-27 15:10] HTenkanen opened #24 "Add documentation on the to usage of `get_data_by_custom_filter()`"
Using `get_data_by_custom_filter()` can be a bit tricky as it contains two levels of filtering. Add documentation. Relates to question in #22

[2020-04-27 15:29] HTenkanen commented on #22
@chourmo Okay, now the new version of Pyrosm (v.0.4.3) should filter the data correctly and e.g. with the filters and data that you shared will produce something like:
![image](https://user-images.githubusercontent.com/6659534/80388712-1e245b00-88a2-11ea-8c8d-73207914e977.png)

If there is still something else that seems to be incorrect, feel free to reopen this issue, or open a new one. Otherwise

[2020-04-27 15:29] #22 closed

[2020-05-05 19:33] HTenkanen opened #25 "Add possibility to download data from Geofabrik and BBBike"
Geofabrik and BBBike provide PBF data from hundreds of locations across the world. Add functionality to parse these datasets easily using pyrosm `get_data()` function.

[2020-05-06 18:01] #25 closed

[2020-05-09 22:46] HTenkanen commented on #24
Closed by #26

[2020-05-09 22:46] #24 closed

[2020-05-10 06:08] Rahulvks opened #31 "Map Dubai or United Arab Emirates not available in data source"
Dear Team,
Thanks for the wonderful tool. Map Dubai or the United Arab Emirates not available in the data source kindly let me know how can use UAE data?

[2020-05-10 07:09] HTenkanen commented on #31
Dear @Rahulvks,

and thanks for getting in touch. I think those should be available in `"gcc_states"`:
http://download.geofabrik.de/asia/gcc-states.html

The tool follows the data structure defined by Geofabrik, so that's why this works like this.

Could you test this and if it does not work, don't hesitate to come back to this. :slightly_smiling_face:

[2020-05-10 07:12] HTenkanen commented on #31
Also other possibility is to use this tool by Bbbike, if you wan't to get data from a smaller area (such as Dubai) : https://extract.bbbike.org/

[2020-05-10 07:14] Rahulvks commented on #31
Thanks, @HTenkanen  let me try and get back.

[2020-05-10 15:28] HTenkanen opened #32 "Custom filter with two-level filtering "leaks" data for nodes and relations"
See example of this bug in the documentation:
https://pyrosm.readthedocs.io/en/latest/custom_filter.html#Advanced-filtering

In case of filtering schools that are buildings returns incorrect number of rows.

This is due to filtering error with nodes and relations (ways work fine).

[2020-05-10 22:37] #32 closed

[2020-05-11 11:37] HTenkanen commented on #31
@Rahulvks , I assume you were able to download the data for Dubai, and will close this issue. If you still have issues, feel free to re-open this issue or raise a new one! 🙂

[2020-05-11 11:37] #31 closed

[2020-05-15 09:17] nlehuby opened #36 "Install fails"
I can't install pyrosm:

When I `pip install pyrosm`, I get a very long stack trace that ends like this:
[code]

I'm on ubuntu, and here is my config:
* `python --version`: `Python 3.7.7`
* `pip --version`: `pip 20.1 from /home/nlehuby/.local/share/virtualenvs/python-JOH7DBZn/lib/python3.7/site-packages/pip (python 3.7)`

It collects `pyrosm-0.5.2.tar.gz`

[2020-05-15 09:41] HTenkanen commented on #36
@nlehuby Thanks for reporting this, and sorry for your issues regarding the installation.

Seems to be an issue that the [cykhash](https://github.com/realead/cykhash) library isn't installing properly for some reason.

Before installing pyrosm can you try installing cykhash with:
`$ pip install https://github.com/HTenkanen/cykhash/archive/master.zip`

And after that try to install pyrosm.

By the

[2020-05-15 09:59] nlehuby commented on #36
Thanks for your quick answer. I'm using [pipenv](https://pipenv.pypa.io/en/latest/) to manage my virtualenv and dependancies.

Indeed, I can't install cykhash:
[code]

[2020-05-15 10:11] nlehuby commented on #36
Ok, I found the issue, I could not build C code from python3 code because I was using a `python3-dev` for python 3.6 instead of python 3.7.

I've updated the `python3-dev` package and successfully managed to install cykhash and then pyrosm :tada:
Will try a normal pyrosm install from scratch now.

[2020-05-15 10:29] HTenkanen commented on #36
@nlehuby Okay, great that you were able to solve this. 👍 Let me know if you continue to have some issues.

[2020-05-15 12:11] nlehuby commented on #36
Everything is ok, and it works out of the box with pipenv by the way.
Thanks for your support.

[2020-05-15 12:11] #36 closed

[2020-05-15 12:27] HTenkanen commented on #36
@nlehuby Great to hear! 👍 Feel free to raise new issues if you find something that isn't working or if you have other ideas how to improve the tool. 🙂

[2020-06-19 14:59] geoDavey opened #38 "setup.py install of Cython and cykhash breaks in some contexts"
Hey! Really neat package! Will love to be a part & contribute.

I've had an adventure to get the module to install with pipenv. First, the module was trying to install with python2.7 because setup.py is executed with `/usr/bin/env python` which for me (and on many systems) resolves to python2, and same with pip resolving to pip2. I've made a pull request to fix these issues #37 and make installati

[2020-06-19 15:45] HTenkanen commented on #38
Hi @geoDavey! And thanks for your help, and definitely it would be awesome if you'd be willing to help and contribute to this library! 👍

Indeed, the pip installation is currently a bit hacky as mentioned.. I am at the moment pushing to release pyrosm in conda-forge which would make the installation procedure much more stable/secure using conda, but I think also improving the basic pip installatio

[2020-06-19 16:12] HTenkanen commented on #38
@geoDavey Hmm, I am not too familiar with pipenv, but it seems to be another package manager somewhat similar to [conda](https://docs.conda.io/en/latest/). Do you know if there are any specific reasons to use pipenv instead of conda? I'm just thinking whether it makes sense to start mixing these two package managers together as it seems that pipenv has some own tricks how things should be done..

[2020-07-01 15:14] HTenkanen commented on #38
@geoDavey Okay `pyrosm` is now available from conda. See #39. I would recommend you to take a look at [conda](https://docs.conda.io/en/latest/) and perhaps migrate using that as your package manager instead of pipenv as it works better with compiled code (such as Pyrosm with Cython). Here's some more information: https://towardsdatascience.com/guide-of-choosing-package-management-tool-for-data-sci

[2020-07-01 15:15] #1 closed

[2020-07-01 15:21] HTenkanen commented on #2
Cykhash is now available from PyPi as well as from conda-forge, so it is better to leave cykhash as a dependency.

[2020-07-01 15:21] #2 closed

[2020-07-01 16:04] HTenkanen commented on #38
Okay [Poetry](https://python-poetry.org/) seems to be a good solution for handling the packaging, short intro: https://hackersandslackers.com/python-poetry-package-manager/

[2020-07-01 17:27] HTenkanen opened #41 "Use Pygeos Geometry arrays if Geopandas 0.8.0 is installed"
The latest Geopandas supports Pygeos geometry arrays. Hence, if user has geopandas 0.8.0 installed there is no need to convert geometries from pygeos to shapely. Using Geometry Arrays (Pygeos) probably makes pyrosm run faster and more memory efficient as well.

We need to have a flag informing if the user has older Geopandas than 0.8.0 installed. In such cases, geometries still needs to be convert

[2020-07-01 17:40] HTenkanen commented on #38
Now also the pip installation is more "clean" and follows PEP 518 style.

Closing this now as the issues here has been resolved:
 - In terms of `pipenv` --> please consider using conda for managing your packages.
 - pip installation was made clean. See #40 for details.

@geoDavey Sorry for not waiting for your replies, but I now had a bit of time to proceed with these, so did not want to wait. Ver

[2020-07-01 17:40] #38 closed

[2020-07-28 10:33] mikhailsirenko opened #43 "Extracting public transport routes with associated ordered stops"
Hi Henrikki,

I managed to extract tram lines and tram stops as was shown in the docs, but I cannot understand how to get the relations between a single line and its set of stops and their order. E.g. tram line 1 has 10 tram stops, the first stop is 1, the second 2, etc. Similarly to this https://www.openstreetmap.org/relation/721888.

Perhaps, there should be a different query for that?

Thanks i

[2020-07-28 15:50] Evelyn-M opened #44 "Invalid geometries during handling of get_buildings()"
Dear Henrikki

First things first, thanks a lot for sharing this great and useful project!

Checking out your tutorials has worked fine for me, however I keep running into GEOSExceptions when trying to get building dataframes for bigger areas (e.g. "Helsinki" or "Zuerich"); apparently due to some issue with invalid geometries that some relations result in when constructing them from the data dump.

[2020-07-29 10:16] HTenkanen commented on #44
Hi @Evelyn-M! And thanks a lot for reporting this. 🙏 I will take a look at it. Seems that checking for valid geometries is causing this.

[2020-07-29 10:41] HTenkanen commented on #43
Hi @mikhailsirenko, and thanks for this question! 👍 It's an interesting one.. My first thoughts are that it might require a bit of extra tricks to get the stop numbers in correct order, because the nodes that represent the stops typically does not include any tags that would inform about their sequence number, such as this which is part of the route that you gave as an example: https://www.openstr

[2020-07-29 10:47] HTenkanen commented on #43
It seems that Transitfeeds might not have the data for Dresden specifically, but I think this national level source might also have the data that you need? --> https://gtfs.de/en/feeds/de_nv/

[2020-07-31 21:51] mikhailsirenko commented on #43
Thanks for the reply @HTenkanen!

Yup, I had the same thoughts. I've tried to count the stops using directions, but the problems are:
- Some of the stops don't have a route reference (e.g. route ref key is absent in the tags dict);
- Route directions (start and end) aren't equal to any of the stop names;
- Routes can bi-directional and stops aren't associated with any.

And indeed I found the "sol

[2020-08-06 08:53] Evelyn-M commented on #44
I initially installed pyrosm via pip install in my working venv (on a mac), and also did a manual pip install for the 2 missing packages cykhash and pygeos.

Re-installing in a clean environment with `conda install -c conda-forge pyrosm` has worked for me, no geos exception anymore.

[code]
Sorry for bothering!

[2020-08-06 08:53] #44 closed

[2020-09-02 08:34] srenoes opened #45 "Feature request: Regular expressions for use within filters, read complete osm.pbf file"
I wanted to extract all addr: related objects from an osm.pbx file and tried several ways. Excluding doesnt seem to work as an empty gdf is returned. Constructing a full gdf with all data was not easily done either.

Now I thought it would be nice to have the possibilities to use regular expressions in general,
and alone reading a complete osm.pbf file into a geodataframe is very valuable as well.

[2020-09-04 05:52] HTenkanen commented on #45
Hi @srenoes! Thanks for your message.

What do you mean by "all data" here exactly? Could you explain a bit more what kind of data you want to parse from OSM and for what purpose? Constructing a "full gdf" with everything from a given OSM is not something I have heard people to be needing before, so would like to understand what kind of use case this is.

If you want to dive deeper into the OSM da

[2020-09-10 09:51] saifullah73 opened #46 "Error: "ValueError: Provide at least 4 coordinates to create a linearring.""
### Description
I am trying to use pyrosm to parse my OSM data. However I am failing to run two important methods. Namely "get_buildings()" and "get_landuse()". Both return a similar error attached below. Please advice if something might be wrong at my end, or put it up as a reported bug if its something internal

### Code:
from pyrosm import OSM
from pyrosm import get_data
fp = get_data("test_pbf

[2020-09-10 10:06] HTenkanen commented on #46
@saifullah73 Thanks for reporting this!

Could you tell a bit more about your setup so that I could understand how to possibly replicate this issue:
- What operating system?
- How did you install the library? (using conda / pip / something else?)
- What dataset are you using that produces the error? (or does it happen with any dataset?)

[2020-09-10 10:14] saifullah73 commented on #46
To answer your question in order.
1) My operating system is Ubuntu 18.04.5 LTS
2) I installed the library via pip (in my google colab environment) and using conda (locally in my machine). I get same error in both settings
3) I am using the test_pbf data provided internally by the library and also tried by downloading a dataset (fp = get_data("Aachen"))

Note: The error arrives with the datasets th

[2020-09-10 10:18] HTenkanen commented on #46
@saifullah73 Okay, thanks for this info! I try to replicate the error with a similar setup to see if I can replicate this.

By the way, could you check which version of `pygeos` library you have installed in your system as the error hints to that direction?

[2020-09-10 10:22] saifullah73 commented on #46
Sure, my pygeos is at version 0.8

[2020-09-10 11:10] HTenkanen commented on #46
Okay there are probably some changes in new version of pygeos library that causes this. A quick fix for this issue is to downgrade your pygeos version to the last release, i.e pygeos==0.7.1. Haven't tested but probably should work

[2020-09-11 02:15] ericfowler303 opened #47 "Custom filter fails when Tag doesn't exist in dataset"
`'Tags' object has no attribute 'park_ride'
  File "C:\Users\X\AppData\Roaming\Python\Python36\site-packages\pyrosm\pyrosm.py", line 497, in get_pois
    tags_as_columns += getattr(self.conf.tags, k)`

I'm using a custom filter to get POI info. When using a basic filter as shown in the documentation, things work fine. I am using a more detailed filter which includes some more rare tags, which is w

[2020-09-11 02:18] ericfowler303 commented on #47
I saw this in another issue for some background on my setup:

- Running on Windows 10 x64 Python 3.6.6
- Installed using pip and the needed dependency whl files
- I'm using the 'Hawaii' dataset to test with since it's smaller

[2020-09-11 04:05] HTenkanen commented on #47
Hi @ericfowler303 thanks for reporting this!

I think this should be doable.

Could you still add a code snippet that would reproduce this error?

[2020-09-11 16:25] ericfowler303 commented on #47
`fp = pyrosm.get_data("hawaii")`
`osm = pyrosm.OSM(fp)`
`custom_filter = {'park_ride': ['yes']}`
`pois = osm.get_pois(custom_filter=custom_filter)`
pretty stripped down but you'll get the error since there doesn't seem to be any "park_ride" tags in Hawaii

[2020-09-12 09:18] #43 closed

[2020-09-13 18:53] #46 closed

[2020-09-13 19:42] HTenkanen opened #50 "Fix numpy deprecation warning"
Numpy has started to throw a deprecation warning:
`/home/hentenka/miniconda3/envs/pyrosm/lib/python3.8/site-packages/pyrosm/buildings.py:21: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated.`

Go through the code-base and ensure ragged nested arrays are constructed co

[2020-09-13 19:43] HTenkanen commented on #46
@saifullah73 Okay, now this should be fixed in a new release v0.5.3 that you can install from PyPi with pip. Please go and try it out! If you get any further issues, don't hesitate to open this again. Cheers!

[2020-09-14 11:36] saifullah73 commented on #46
It work, thanks, could you also release it via Conda

[2020-09-14 12:12] HTenkanen commented on #46
@saifullah73 Ok good to hear! And yes, I will release it via conda as well soon (when I find a few free moments).

[2020-09-14 16:01] HTenkanen commented on #46
@saifullah73 FYI: Now also available from conda-forge

[2020-09-27 07:24] CWen001 opened #52 "Feature request: optionally, return a node geodataframe from osm.get_network()"
Thank you very much for the package. Downloading first from Geofabrik and then parsing a network is much faster than doing it in `osmnx`.

However, a common use case for `pyrosm` is to extract a network and then to analyze it in `osmnx`. For that, Constructing a graph from geodataframe using `osmnx` is necessary, by `osmnx.graph_from_gdfs()`.

Signature: `osmnx.graph_from_gdfs(gdf_nodes, gdf_edges

[2020-10-01 04:24] Padarn opened #53 "pygeos geometry arrays"
I was reading the documentation here: https://pyrosm.readthedocs.io/en/latest/benchmarking.html, and specifically the comment on memory usage

I'm interested in this, I'm hitting memory limits with some large files. Do you have any further information on the support for this in Geopandas, and/or the plans for support in pyrosm.

Possible I can help contribute if there is a need.

[2020-10-08 08:44] justus-saul opened #54 "Error when retrieving data area restricted by bounding box"
Hi,
I was trying to extract some data in a bounding box with a Polgyon, but ran into an issue. You can see the traceback below.
I also duplicated the code from the docs and used shapely geometry from GeoDataFrame directly from an existing boundary in a pbf file, but got the same results. As I used the code directly from the docs, I have to assume that this is a bug in the library.

**Traceback**
T

[2020-10-11 07:53] HTenkanen commented on #52
Hi @CWen001 and thanks for your request! And sorry for only now coming back to this.

So basically if I understand you correctly, you would like to be able to convert the network from pyrosm into a networkx graph, so that you are able to conduct further analyses using networkx? Are there some specific functionalities from `osmnx` that you would need specifically? The reason I am asking is because

[2020-10-11 08:22] HTenkanen commented on #53
Hi @Padarn and thanks for your message!

Indeed, there is some room for improvement in terms of memory consumption. I have not tested yet, how much using the pygeos geometry array could actually help in terms of memory consumption (I assume it does help a bit). Basically this step where geometries are converted into Shapely geometries could be skipped when Pygeos with Geopandas 0.8< is available f

[2020-10-11 08:55] HTenkanen commented on #54
@justus-saul Thanks for reporting this! I was able to reproduce the error and will take a look at this next week. 👍

[2020-10-11 10:07] #50 closed

[2020-10-12 03:53] CWen001 commented on #52
Thanks for the reply. Yes, I'd like to use `osmnx` to draw an isochrone map and measure some indicators (e.g. centrality), as shown in its [tutorial notebooks](https://github.com/gboeing/osmnx-examples/tree/master/notebooks). Another reason for requesting an optional node geodataframe is that, besides constructing an `osmnx` objectt, using `pandana` to calculate large-scaled distance matrix also r

[2020-10-12 06:40] HTenkanen commented on #52
@CWen001 Thanks for your input! 👍 I will add the possibility to fetch also the associated nodes when retrieving the network. I will most likely add an optional parameter `keep_nodes=False` that you can switch to `True` in order to retrieve both edges and nodes.

FYI: It is already now possible to fetch **all** nodes of the given PBF as a GeoDataFrame via `osm._nodes_gdf` but this is not very usefu

[2020-10-14 08:41] CWen001 commented on #52
@HTenkanen Thank you very much for your excellent work! I'm looking forward to the new release.

[2020-10-16 11:54] Padarn commented on #53
Hey @HTenkanen. Yeah certainly have some interest.. but might take me a bit of time to get going. Will have a go at this over the next week. Thanks.

[2020-10-16 17:54] HTenkanen opened #57 "Add possibility to export NetworkX graph"

[2020-10-16 17:55] HTenkanen opened #58 "Add possibility to export Pandana graph"

[2020-10-16 17:59] HTenkanen opened #59 "Add possibility to filter out weakly connected components from graphs"

[2020-10-18 17:59] chourmo opened #60 "Data extraction is not working for city "marseille""
The city is listed in cities, but trying to get data gives an error

~/anaconda3/lib/python3.7/site-packages/pyrosm/data/__init__.py in get_data(dataset, update, directory)
    133
    134     elif dataset in sources._all_sources:
--> 135         return retrieve(search_source(dataset),
    136                  update, directory)
    137

~/anaconda3/lib/python3.7/site-packages/pyrosm/data/__init__

[2020-10-18 18:39] HTenkanen commented on #60
Thanks for reporting! I'll take a look next week. In the meanwhile you can download the PBF from here: https://download.bbbike.org/osm/bbbike/Marseille/

[2020-10-19 09:03] HTenkanen commented on #60
@chourmo Hmm, could you send me a code snippet showing how you try to parse the data for Marseille?
I could not reproduce the error and parsing the data for "`marseille"` works for me:

![image](https://user-images.githubusercontent.com/6659534/96424240-1dda9c00-1203-11eb-9f9a-579ec9a254ea.png)

[2020-10-20 07:08] chourmo commented on #60
Now it works, weird.

[2020-10-20 07:08] #60 closed

[2020-10-30 09:13] bramson opened #61 "Cannot install pyrosm"
I've been trying to install this pyrosm on Windows10 and Python 3.6 because it looks potentially useful (although inadequately documented... like, which elements are included in the "walking" network?) for isolating parts of OSM data within a polygon before converting the remaining "highways" into a NetworkX graph.

However, I tried to use `pip installl pyrosm`, but I cannot install the package be

[2020-10-30 09:16] bramson commented on #57
Yes, this.
There is a now-defunct project OSMgraph (https://github.com/Mapkin/osmgraph) that did this, but it hasn't been developed for 5 years, only works on Py2, and not on Windows.  There is a clear research and business case for transportation network traversals based on this data, so including this capability would greatly enhance this package's value.

[2020-10-30 09:22] HTenkanen commented on #57
@bramson Yes, this is more or less implemented already and will hopefully be out next week 👍 There will be functions to export the network to networkx, igraph and pandana as a directed graph.

[2020-10-30 09:32] HTenkanen commented on #61
Hi @bramson,

the recommended way to install pyrosm is by using conda as mentioned in the docs:
https://pyrosm.readthedocs.io/en/latest/installation.html

If you have not use conda before, I very much recommend start using it. There is more information about this e.g. in here:
https://autogis-site.readthedocs.io/en/latest/course-info/installing-miniconda.html

The issue you face is not actually re

[2020-10-30 10:06] bramson commented on #61
My python installation is WinPython, rather than Anaconda, and is not a(as far as I know) compatible with conda installation.

So, In order to install GeoPandas I had to do things manually with whl files, but it's not that bad once you know the sequence.
I believe I have already installed all the packages of the same versions that pyrosm depends on, but for some reason the installation of pyrosm w

[2020-10-30 11:18] HTenkanen commented on #61
@bramson Is there a specific reason why you need to stick with WinPython instead of using conda which is nowadays more or less the "industry standard" dealing with package installations for Python ecosystem?

What comes to your installation issue under Windows, I cannot say much with this information, as I would need to understand what versions of Geopandas, Fiona, etc. packages you have installed

[2020-10-30 13:41] der-karl opened #62 "QUESTION: custom filter Bug"
I want to filter out all values from `'waterway'` tag, except for `'river'` and `'stream'`.
Using `filter_type='exclude'` will get the desired values but also other values from `'waterway'`, which should be filtered out (if I don't misunderstand). And `filter_type='keep'` works fine in this case. Why?

[code]

[2020-10-30 15:50] HTenkanen commented on #62
@der-karl Hi! Thanks for the question.

I went through your code snippet (thanks for this very good reproducible issue! 💯). And based on your description everything seems to work as should.

In your first case with "exclude" keyword every record where the tag in "waterways" is **not** mentioned in the `waterways_exclude` list is kept. Hence, e.g. the "river" and "stream" exist in your resulting Ge

[2020-10-30 15:57] HTenkanen commented on #62
Going through the "waterways" tags now, I saw that "fish_pass" was actually missing from the list (which is listed in the OSM key:waterways). Updated that now. Thanks! 👍

[2020-10-30 16:30] HTenkanen opened #63 "ENH: Use pygeos get_parts() to explode multigeometries"
Currently when exporting the street network into graph edges, the ways (multigeometries) need to be exploded so that the connectivity in the network works when routing.

Exploding the geometries using `gdf.explode()` is time consuming, but pygeos v0.9.0 will have [`get_parts()` function](https://github.com/pygeos/pygeos/pull/197) that will improve significantly the efficiency of turning multigeome

[2020-10-31 08:47] sheub opened #64 "Relational Filter"
Hi Henrikki,
Thx for making useful python library available:)
additionally to the functionalities offered by the library, I am looking for a way to filter OSM data like this:
 e.g all  _playground_ inside _parks_
using overpassAPI I would do it like this:

[code]

In other words, is there a way to filter OSMfeatures with distance to other OSMfeatures?

Many thanks,

Sébastien

[2020-10-31 19:38] bakwc opened #65 "Failed to install pyrosm on Python3.7 OSX"
[code]

[2020-10-31 19:43] bakwc commented on #65
I was using old version of cython. Upgrading cythin helped:
[code]

[2020-10-31 19:43] #65 closed

[2020-10-31 20:36] HTenkanen opened #66 "Add export graph to cuGraph"

[2020-11-01 10:52] der-karl opened #67 "polygon in filtered ways"
My question is why sometimes there are **polygon** geometries in the filtered ways (lines), and sometimes not (I tried different values from the `custom_filter` and also different places)? What are those polygon geometries?

[code]

[2020-11-01 10:52] der-karl commented on #62
Hey @HTenkanen , thanks for your excellent answer, it solved this problem.

And thanks for your suggestions on using `filter_type='keep'` instead of `filter_type='exclude'`.  In fact, I prefer using `filter_type='keep'`, because it is faster than the latter (at least for this case). The reason why I wanted to try `filter_type='exclude'` is because I got `polygon` geometry type in my filtered ways.

[2020-11-01 11:12] #62 closed

[2020-11-02 13:46] HTenkanen commented on #67
@der-karl Hi!

This relates to a perhaps a bit unintuitive definitions used by OpenStreetMap. So how OSM defines a "way" is not necessarily related to line-geometries (i.e. streets), but they are also used to construct closed geometries such as linear rings or polygons. See here for further documentation: https://wiki.openstreetmap.org/wiki/Way

Pyrosm follows this OSM stucture, and hence "way" fe

[2020-11-02 16:15] HTenkanen commented on #64
Hi @sheub !

Thanks for your question. Currently there is no way to conduct such queries using Pyrosm directly, and I don't think such filtering will be supported in the near future either. **However**, you can use basic geopandas functionalities to filter your data in a way as you describe, using the following approach:

1. Read all parks with pyrosm
2. Read all playgrounds with pyrosm
3. Conduct

[2020-11-02 16:29] HTenkanen opened #68 "ENH: Use vectorized operations to create bidirectional edges"
Should make the graph exports faster.

[2020-11-02 16:43] HTenkanen opened #69 "DOCS: Add docs for exporting graphs"

[2020-11-03 07:43] der-karl commented on #67
thanks @HTenkanen for your quick feedback, yeah I expected to get only 'LineString' and 'MultiLineString'. Your method works fine, thanks.

[2020-11-03 09:36] #52 closed

[2020-11-03 09:36] #57 closed

[2020-11-03 09:36] #58 closed

[2020-11-03 09:36] #59 closed

[2020-11-03 18:51] dominikbucher commented on #61
Hi all! Thanks for the library, very awesome! To (hopefully) shed some light on this issue (because I was struggling with it too - somehow didn't see the _conda-forge_ installation process and tried with _pip_):

It seems that `setup_requires=requirements` is set in `setup.py`. As far as I understood, this tries to install geopandas (with its dependencies fiona etc.) for the _setup_ process, and n

[2020-11-04 07:35] bramson commented on #61
@HTenkanen The only reason I'm sticking with WinPython is that up to now I've only faced minor inconveniences with it...much smaller inconveniences than installing a new python distribution from scratch and making sure all my code still works on it.  Obviously I like the idea of installing packages with no effort, but that's what pip is already supposed to do, and usually does.  I looked at the tw

[2020-11-04 08:01] HTenkanen commented on #61
Hi guys! And thanks @dominikbucher for sharing how you tackled this issue! 👍 Your solution indeed seems like it could resolve this issue with pip, and definitely the goal is to support installation using pip only also in Windows (assuming all the requirements have been installed). So I will test if this trick works, and update the package for the next release. This should then hopefully resolve @b

[2020-11-04 08:52] bramson commented on #61
@HTenkanen Thank you for incorporating this fix in the next version.

If I could go back, then I'd go the Anaconda route, as I've advised new people in the lab to do.  But from where I am, it's probably a few days of package version compatibility frustration just to get back to exactly where I am.  Actually, if there is a function in conda to read a requirements file and get all those versions of

[2020-11-04 09:05] HTenkanen commented on #61
FYI: @bramson With conda, there is this fileformat called `environment.yaml` (or `.yml` which is the same thing) which does same things as requirements.txt (it is formatted a bit differently but should be quite easy). Typically the safest way to do the installations is to use these things called *environments* that isolate the installations e.g. for different projects that you might have.

To get

[2020-11-04 19:14] HTenkanen commented on #63
#70 implements an alternative that does not require to explode geometries with geopandas (explodes using pandas)

[2020-11-04 19:14] #63 closed

[2020-11-04 19:25] #68 closed

[2020-11-04 19:33] #61 closed

[2020-11-04 19:39] HTenkanen commented on #45
@srenoes Closing this issue now. I don't have plans to support regular expressions at the moment, but happy to consider r5 a PR for such feature if you would be interested to take a look at implementing such.

[2020-11-04 19:39] #45 closed

[2020-11-04 19:41] HTenkanen commented on #41
Since pyrosm v0.6.0, require geopandas >=0.8

[2020-11-05 07:29] HTenkanen commented on #61
@bramson : I now merged the installation fix to the master, and hopefully it should work now. Could you please test and verify if you can now successfully install `pyroms` with pip by running the following command (which installs the dev version directly from Github):
`pip install git+https://github.com/HTenkanen/pyrosm.git@master`

[2020-11-05 19:55] sheub commented on #64
Hi @HTenkanen ,

Many thanks for your answer and for the link to your course materials. It did help me, and I could solve my problem.

[2020-11-05 19:55] #64 closed

[2020-11-06 09:58] bramson commented on #61
@HTenkanen : Thank you for your message.  I was able to successfully install the dev version with your command.
When I run the command `from pyrosm import get_data` (in order to work through some examples in the docs), I get:
[code]

I don't know if this is the same problem @dominikbucher mentioned, but my geopandas and shapely versions seem to match the pyrosm requirements.  I don't know if ignor

[2020-11-06 10:25] HTenkanen commented on #61
@bramson Excellent, now everything seems to work. 👍 The warning that you get actually comes from `geopandas` (used under the hood in pyrosm). It is nothing dangerous and you can ignore it. Will add a note about this to the documentation as well.

Technical details but: It just warns that in couple of different libraries that are used under the hood of geopandas are using different version of GEOS

[2020-11-06 10:27] HTenkanen opened #73 "DOCS: Add information about the GEOS warning (can be ignored)"
Relates to #61

[2020-11-10 14:54] HTenkanen opened #74 "DOCS: Update Sphinx theme to `sphinx_book_theme`"

[2020-11-10 14:56] HTenkanen opened #75 "ENH: Add possibility to test the tool in JupyterLab with Binder"

[2020-11-10 15:26] HTenkanen commented on #47
@ericfowler303 Hi! Sorry for taking quite awhile coming back to this, but this is now fixed to the next release that should come out soonish. Example:

![image](https://user-images.githubusercontent.com/6659534/98694175-d2d32500-2379-11eb-8a3e-0682a733f338.png)

[2020-11-10 15:50] #47 closed

[2020-11-10 16:01] HTenkanen commented on #74
Closed by #76

[2020-11-10 16:01] #74 closed

[2020-11-10 16:58] HTenkanen commented on #54
Hi @justus-saul!

Sorry for taking rather long to get back to this. Just letting you know that this has been fixed and will be available in the next release (v0.6.0) that should be out soon. So following works as should now:

![image](https://user-images.githubusercontent.com/6659534/98705717-ac67b680-2386-11eb-80a5-f391bd0d4f8d.png)

[2020-11-10 16:58] #54 closed

[2020-11-11 16:02] HTenkanen opened #78 "Graphs: When using bounding box, filter nodes as well"

[2020-11-11 21:29] HTenkanen commented on #41
Closed by #79

[2020-11-11 21:29] #41 closed

[2020-11-11 21:33] HTenkanen commented on #75
Add environment.yml for binder

[2020-11-12 07:27] bramson opened #80 "BUG: Can't apply custom filter to bounded data"
As the title says, I get an error when I try to apply a custom filter to bounded data.

After the installation fiasco, I was finally able to use this package to isolate one "Ku" from the Kanto PBF file (using a Shapely geometry object from another dataset as a "bounding_box" [sic] because I couldn't get it from the name "Shibuya" like I can via the Overpass API).

That worked, and I was able to ge

[2020-11-12 07:35] HTenkanen commented on #80
Hi @bramson! And thanks for pointing out this. I actually noticed the same behavior yesterday and fixed it. You should get things going on by re-installing the latest changes from GitHub. So something like following should work:
`$ pip uninstall pyrosm`
`$ pip install git+https://github.com/HTenkanen/pyrosm.git@master`

Sorry for the hassle that you've had. 😬 And thanks for bringing these issues t

[2020-11-12 07:39] HTenkanen commented on #80
@bramson And to your other question about building the graph from network. The new version of pyrosm (that you have installed) actually provides functions to export the street network to NetworkX, igraph and pandana. You can read the docs about these from here (still work in progress):
https://pyrosm.readthedocs.io/en/develop/basics.html#export-street-networks-to-graph

[2020-11-12 07:42] HTenkanen commented on #80
As you were wondering how the network is constructed  (i.e. the "rules"), you can check those from here:
https://github.com/HTenkanen/pyrosm/blob/master/pyrosm/config/osm_filters.py

But it's a good point that this information should be mentioned in the docs. I will add. 👍

[2020-11-12 08:56] bramson commented on #78
I think I ran into the problem that this issue is supposed to fix.
When I run
[code]
I get the edges and nodes for Shibuya as expected, but the nodes are not limited to the bounding polygon as seen in the attached plot.

![walkNetwork-pyrosm-ShibuyaKu-v2](https://user-images.githubusercontent.com/16698232/98917463-c1bc1c80-250f-11eb-987a-aa3b2559a182.png)

[2020-11-12 09:04] HTenkanen commented on #78
@bramson Yes, this is something that still needs a few extra lines of code 👍 I aim to fix this today.

[2020-11-12 09:46] #78 closed

[2020-11-12 09:48] HTenkanen commented on #78
@bramson Okay, now this works as should:
![image](https://user-images.githubusercontent.com/6659534/98922527-3cb71000-24db-11eb-9f52-d8441762eac6.png)

You should get this working by updating the library again from the master branch 👍

By the way, I remember you mentioning something about constructing the bounding box geometry. As you can see above, it is possible to also just pass a list of coord

[2020-11-12 09:58] #75 closed

[2020-11-13 02:24] DawnyWu opened #83 "BUG: TypeError: get_network() got an unexpected keyword argument 'nodes'"
pyrosm version 0.5.3

[code]
TypeError: get_network() got an unexpected keyword argument 'nodes'

[2020-11-13 06:54] HTenkanen commented on #83
@DawnyWu Hi! This feature is only available in the new pyrosm version 0.6.0 that I will most probably release later today (sorry you just got in the middle of transition to the new version). If you want to start testing already now, you can install it from the master:
`pip install git+https://github.com/HTenkanen/pyrosm.git@master`

[2020-11-13 08:23] bramson commented on #80
I re-reinstalled it earlier today and this worked perfectly.
The walking network does indeed include the types that I wanted to select, so that is also well done for my purposes.

[2020-11-13 08:23] #80 closed

[2020-11-13 09:26] bramson commented on #69
Along these lines, I tried to export the networkX graph as a JSON as I usual do, but it threw a "TypeError: Object of type 'CRS' is not JSON serializable".  Obviously, I need to use a GeoJSON instead of an ordinary JSON, but I'm having trouble locating instructions for exporting to GeoJSON.

Although the GeoPandas can be used for this purpose, the GeoJSON export ability would allow the results to

[2020-11-13 10:40] HTenkanen commented on #69
@bramson Thanks for pointing out this! 🙏 Among many other issues! 🙂 I will take a look. Currently the CRS is saved as a pyproj CRS object which indeed cannot be serialized with JSON. I think this should be an easy oneline fix in the code.

[2020-11-13 10:51] HTenkanen opened #84 "BUG: Saving NetworkX graph to JSON not working"
See issue [#69](https://github.com/HTenkanen/pyrosm/issues/69#issuecomment-726653480)

Solution: Do not store pyproj.CRS object but a text version of the CRS (i.e. "epsg:4326").

Should be compatible with OSMnx as well without a problem: https://github.com/gboeing/osmnx/blob/master/osmnx/utils_graph.py#L41

[2020-11-13 10:55] HTenkanen commented on #69
@bramson In terms of the extra "key" column, it relates to compatibility with OSMnx library. You can disable this behavior by specifying `osmnx_compatible=False`.  Take a look at the *Note* in this section of the docs (still under develop branch):
https://pyrosm.readthedocs.io/en/develop/basics.html#export-to-networkx-osmnx

[2020-11-13 16:51] HTenkanen opened #85 "BUG: Filter nodes after connected edges have been selected"
Connected edges are filtered by default, but currently associated nodes are not.

[2020-11-13 19:24] HTenkanen commented on #69
@bramson Could you still provide an example how you dump the JSON graph so that I could add a test for it?

[2020-11-13 20:15] HTenkanen commented on #69
@bramson And do I now understand correctly that you would like to export the NetworkX graph (with both nodes and edges) as a GeoJSON? Or are edges enough? I would need to understand a bit more what you aim to do with the output to understand what would be the best way forward with this.

After a bit of thinking, I think the most straightforward way to save the edges using geopandas. If you need to

[2020-11-15 19:34] HTenkanen opened #87 "ENH: Add possibility to optimize memory usage"
Pyrosm parses quite a lot of attributes by default from the OSM data. Add possibility to optimize memory usage by keeping only the most necessary attributes in the results and dropping everything else out. This helps when working with large files.

The memory optimization should influence the behavior when parsing the PBF (i.e. not parsing less important attributes at all) and when parsing the tag

[2020-11-15 19:40] HTenkanen commented on #85
After a closer look there wasn't in fact any problem, and nodes are correctly filtered when getting the connected edges/nodes.

[2020-11-15 19:40] #85 closed

[2020-11-16 06:00] bramson commented on #69
1. I will try the `osmnx_compatible=False` setting, and see if it is equivalent to what I expected.
2a. Yes, I would like to output both nodes and edges of a NetworkX graph as a GeoJSON (for Kepler.gl visualization).
2b. Up to now, I've imported nodes and edges separately from generated geopandas, but uploading a single GeoJSON is more efficient (depending on the sparseness of properties, it may o

[2020-11-16 07:52] chourmo commented on #87
I was going to create an enhancement request to add a "minimal" network_type keyword to get_network, with only geometry and id as keys. Does it fit in this issue ?

[2020-11-16 08:44] HTenkanen commented on #87
@chourmo Yes, that is more or less the idea with this issue 🙂 There should be a parameter to reduce the number of attributes to absolute minimum, and in addition to that give the user the possibility to keep some specific tag using the `tags_to_keep` parameter or something like that.

[2020-11-16 10:59] HTenkanen commented on #69
@bramson Thanks for sharing your ideas! 👍 Being able to export networkx graph as GeoJSON is certainly a good idea. However, I think that the correct place for implementing such a feature would actually be networkx itself. But I think it would be easy to test the approach here.

Would you be interested in testing out / writing a PR for such a feature as you already seem to have many of the pieces i

[2020-11-17 04:00] bramson commented on #69
Yes, I think you are correct that the conversion should really be a part of NetworkX.  I actually searched the interwebs for how to export NetworkX to GeoJSON, but it seems too niche to have already been asked.

For me, I need to learn more about GeoJSON to know where to start, and to determine whether the encoder approach could handle it.  My thinking is that we could first use something like the

[2020-11-17 07:08] HTenkanen commented on #69
@bramson Yes, supporting the export of geospatial network from nx is definitely something that should be implemented. It can be decided later what will be the final home for that functionality 👍 But as said, Pyrosm can be a test bed for that (and even home if it looks most feasible option).

[2020-11-17 07:11] bramson opened #88 "How to keep all components, not just the largest strongly connected one"
The documentation states:

I looked around, but I couldn't find the parameter to control this behavior.

The OSM data for my area is terribly dirty and incomplete, among the many problems is many disconnected walking elements (such as pedestrian bridges, tunnels, and parks).  I plan to test some methods to automatically connect these elements to the main network, but to do that I need to keep them

[2020-11-17 07:14] HTenkanen commented on #84
This requires implementing a whole new feature to pyrosm or to networkx. Closing this, see #69 for all discussion

[2020-11-17 07:14] #84 closed

[2020-11-17 07:20] HTenkanen commented on #88
@bramson Thanks! Ah, yes this is something that I planned to write but forget to do it. I will check the docs and ensure that this is mentioned. You can control this behavior by using `retain_all=True` in the `to_graph()` function.

[2020-11-17 07:31] HTenkanen commented on #88
Being able to connect these disconnected graph components together somehow automatically is actually a very useful feature (I've been thinking about the same problem). So if you figure out a way to do this, I'd be very interested learning about it, and it would actually be great to have such a possibility as part of pyrosm, if you'd be okay with such an idea. 🙂

[2020-11-17 07:41] bramson commented on #88
Sure, If I figure something decent out, then I certainly won't mind sharing the technique.

As I mentioned, I'm currently working on connecting stations to their exits, and the exits to the walking network to facilitate door-to-door route planning via public transit using only BFS.  Unfortunately, in Japan's OSM data, only the subway stations have entrances/exits marked, so the connection of surfa

[2020-11-17 19:21] HTenkanen opened #89 "ENH: Add graph simplification"
Add vectorized graph simplification function that will be used when parsing graph network.

[2020-11-18 09:06] bramson commented on #67
I also have a question related to this.
In the OSM data there are walking areas (such as inside train stations and large sidewalks and public "squares" (of various shapes).  I attached an example with many of these pedestrian areas.

These are polygon ways in OSM, and they are areas where people can walk.  So, when generating the walking network, and especially when exporting it to NetworkX,, my e

[2020-11-18 09:24] HTenkanen commented on #67
@bramson Thanks for pointing this out! Currently, they are not handled in any manner (I actually need to check what happens in these cases). But yes, this is something that needs to be taken into account, and in terms of walking areas, I think probably the easiest way to solve this would be to do as you described and possibly generate extra LineStrings that would allow e.g. passing through squares

[2020-11-18 09:52] HTenkanen opened #90 "DOCS: Add contribution guideline"

[2020-11-18 09:54] HTenkanen opened #91 "Manuscript about pyrosm to JOSS"

[2020-11-18 09:56] HTenkanen opened #92 "Review the package with pyOpenSci"

[2020-11-18 11:49] HTenkanen opened #93 "DOCS: Improve the reference docs for the API"
Geopandas has a nice and clean way to document the API with separate pages to give an overview and then more detailed docs for given function/method, e.g:
 https://geopandas.readthedocs.io/en/latest/docs/reference/geodataframe.html

Something similar would be nice to have for pyrosm as well.

[2020-11-18 13:19] HTenkanen opened #95 "ENH: Start using GitHub Actions for CI"

[2020-11-18 13:25] #67 closed

[2020-11-18 13:25] #73 closed

[2020-11-18 13:25] #88 closed

[2020-11-18 16:58] HTenkanen commented on #83
New version can now be installed with pip or using conda:
https://pyrosm.readthedocs.io/en/latest/installation.html

[2020-11-18 16:58] #83 closed

[2020-11-18 20:40] HTenkanen opened #96 "ENH: Handle walking areas as part of the network"
I also have a question related to this.
In the OSM data there are walking areas (such as inside train stations and large sidewalks and public "squares" (of various shapes).  I attached an example with many of these pedestrian areas.

These are polygon ways in OSM, and they are areas where people can walk.  However, when generating the walking network, and especially when exporting it to NetworkX,,

[2020-11-19 03:59] bramson commented on #6
As a concrete example of this feature (which I already would love to have), the OSM PBF file for my relevant region is all of Kanto (which is 7 prefectures including a ton of remote islands), but I am only processing central Tokyo, which is only about 2% of the land area (although, maybe half the road nodes).

It would be great if I could isolate my region of interest, then export the result to a

[2020-11-19 05:11] HTenkanen commented on #87
Implementation ideas for this:
- OSM() should have a parameter `keep_meta` that could be used to skip reading metadata from PBF (version, timestamp, etc.)
- all "get" methods should have parameter `optimize_memory` that can be set to True for optimizing memory usage by parsing only crucial attributes from the data (e.g. id and geometry)
- all get methods should have possibility to specify which ar

[2020-11-19 06:35] HTenkanen commented on #6
@bramson Yes, being able to crop PBF is definitely something that would be extremely useful to have. I have done some testing for doing it, but there were some mysterious issues happening after the data was filtered, and the resulting PBF file quite often came out corrupted and could not be read again.. 🤔 Haven't had time to think about this in awhile but hopefully will figure out a solution (or s

[2020-11-19 06:48] HTenkanen commented on #6
This would be cool but unfortunately using the PBF protocol of OSM (you can see it [here](https://github.com/HTenkanen/pyrosm/blob/master/proto/osmformat.proto)) is not fit for this purpose as such. Hence, it would require making an own schema for exporting the graph. And doing that is of course possible but I'm not sure if that would anyway be the best way for implementing something that you desc

[2020-11-19 11:14] bramson commented on #6
Okay, I don't really understand the details of PBF, or anything you said in the last paragraph, but I'll take your word for it that what I imagined is not practical.

Because the unpacked data for my whole area is too big to use for my API...
Here's what I'm currently planning to do, and maybe you've got a better idea:

1) Break the network down into tiles (e.g. 2x2 km) and save each tile as a pkl

[2020-11-19 11:24] bramson opened #97 "BUG: creating network creates ghost copies of each node"
I've discovered what looks to be a bug in the `to_graph` algorithm.
The number of nodes in the graph resulting from `to_graph` is double the number of nodes pulled by `get_network`.  Furthermore, exactly half the nodes in the graph have no `geometry` attribute (which is how I found the problem).
I have not yet checked whether it always does this, or whether it is a byproduct of one of the options

[2020-11-19 12:01] chourmo commented on #87
"optimize memory" seems quite ambiguous to me, as the impact on tags is not obvious. "minimal_tags" seems to express results more clearly.

[2020-11-19 12:32] HTenkanen commented on #87
@chourmo Thanks! That is indeed more intuitive option 👍

[2020-11-19 13:06] HTenkanen commented on #97
@bramson Thanks for reporting this! I actually one time popped into this one, but forget about it.

This behavior is a bit weird and it relates to building networkx graph. I haven't seen similar happening with igraph or pandana (haven't done a proper check though). For some reason, networkx doubles the number of nodes in the graph when it is constructed. 🤔 Need to investigate more..

[2020-11-19 15:20] HTenkanen commented on #97
@bramson Would you happen to have a clipped PBF file of the region that produces this bug? I don't seem to be able to reproduce this behavior so it's a bit difficult to debug.. 🤔 Parsing the networkx graph from Tokyo at least works as I would assume.

[2020-11-19 15:36] HTenkanen commented on #97
Ha, now I was able to reproduce. It seems to happen when using `osmnx_compatible=False`.

[2020-11-19 17:54] HTenkanen commented on #97
@bramson Okay, found the issue. You can get it fixed by installing from master, once all the tests have passed and the merge is ready.

[2020-11-19 20:31] #97 closed

[2020-11-20 07:17] bramson commented on #6
As for getting data by name, without a reference to what areas are given which labels, it's impossible to use this reliably, especially for Japan.

For example,  `osm = OSM(get_data("tokyo"))` does pull a part of central Tokyo, not even all of central Tokyo, and not the prefecture of Tokyo (which I would have guessed).  There is no way to know what 'tokyo' would retrieve without trying it, and now

[2020-11-20 11:15] HTenkanen opened #99 "BUG: Network does not contain metadata"
When parsing networks, metadata (version, timestamp etc.) is not included in the final result.

[2020-11-20 11:30] HTenkanen commented on #99
🤔 Well, actually there is metadata for networks as well. So the problem only existed in my head...

[2020-11-20 11:30] #99 closed

[2020-11-20 18:28] HTenkanen commented on #95
Check this at geopandas for a good chat about pros/cons: https://github.com/geopandas/geopandas/pull/1576

[2020-11-21 08:06] chourmo commented on #87
It would also be create great to have geometry=True/False, default to True, to only retrieve tags.

[2020-11-21 09:05] HTenkanen commented on #87
@chourmo The idea is to allow user to have full control with `tags_to_keep` parameter. So using that you can specify e.g. tags_to_keep=["id", "name"] which would only keep those ones, i.e. meaning that geometry would be dropped out from the final result. The only required tag that will always be kept is the `id` (due to how the internals of the library work).

[2020-11-22 18:57] HTenkanen commented on #87
Take advantage of `sparse` arrays? Would introduce a new dependency ...
https://sparse.pydata.org/en/stable/

[2020-11-25 02:35] bramson opened #100 "BUG: to_graph crashes when 'oneway' is not specified"
While collecting my network windows, I got the following error on the 22nd grid that caused the script to crash.

[code]

It is not hard to imagine that lots of roads fail to specify whether it is one-way or not, especially for pedestrian or footpath edges.

I think that, in these cases, it would be better to use a default of `oneway=false` instead of crashing.
Similar reasonable defaults could/sh

[2020-11-25 05:31] HTenkanen commented on #100
@bramson Thanks for reporting this 🙏

Hmm, yes I believe this is a situation where indeed none of the ways in your data has a tag "oneway". Didn't think that this might happen but surely it does, as shown here.

I think the solution could indeed be to assume that all roads are bidirectional in such case, and raise a warning. 👍 Thanks! Will fix this asap.

[2020-11-25 05:53] HTenkanen commented on #100
As a quick fix, you can add the column "oneway" to edges with value None if the column does not exist, before using the to_graph() function.

[2020-11-25 12:20] #100 closed

[2020-11-25 12:21] HTenkanen commented on #100
@bramson Okay, now this should be fixed in the master. Thanks for pointing this out! 👍

[2020-11-26 06:54] bramson opened #102 "QUESTION: when getting elements within polygon, is it "intersects" or "within"?"
As I've mentioned in other threads, in order to handle huge amounts of data, I'm breaking the network for my area of interest into 1.5 x 1.5 km windows.

First I created a geopandas dataframe with geometries and local x,y indices for all the windows.
Then I iterate over the rows to (1) isolate the data within that geometry, (2) build the walking network as a NetworkX graph, and (3) save the graph

[2020-11-26 07:46] HTenkanen commented on #102
Hi @bramson and thanks for a good question!

In this scenario, the best way forward is to 1) specify a small buffer around your bounding box polygon (e.g. 0.0015 decimal degrees (~150m) --> requires a bit of testing which works best), so that the areas that are used to filter the data overlap with each other. Then when you have parsed the data with `get_network(nodes=True)` with those buffered pol

[2020-11-26 11:02] bramson commented on #102
Hmmmm Using a buffer to accomplish this is a poor solution for two main reasons:

(1) Missed edges: Any feature longer than the chosen buffer size that spans the boundary will not be included.  Here I'm thinking mostly of bridges and motorway segments as likely being dropped in some cases.

(2) Memory Inefficient: If a 150m buffer is used, then the tiles are effectively 1800m on a side instead of

[2020-11-26 11:54] bramson opened #103 "QUESTION: get_network returns None instead of an empty dataframe when no nodes/edges are found"
As the title says, when an area enclosed by a bounding polygon does not contain any nodes/edges, the `get_network` module returns `None` instead of empty GeoDataFrames for nodes and edges.

This seemed reasonable at first, but I need to test for whether any edges are returned before running code on those edges.
Testing for `len(edgesDF) > 0` doesn't work because `None` has no length.
Testing for `

[2020-11-26 12:05] HTenkanen commented on #102
@bramson

This would indeed be an optimal case, but the problem here is not actually related to whether use "intersect" or "within" in the spatial query.

The internal structure of OSM.PBF is stuctured in a way that the most efficient way to parse the data happens as follows:
 1. Parse all nodes from the PBF (and here I mean the OSM element, not nodes related to graph)
 2. Parse all ways (closed a

[2020-11-26 12:10] HTenkanen commented on #103
Hmm, you should be able to do following , no? :

[code]

[2020-11-26 12:15] HTenkanen commented on #103
Anyway, returning `None` instead of an empty GeoDataFrame is somewhat a matter of taste. I think it is more intuitive to get "nothing" instead of an empty object of some sort if there is no data.

[2020-11-27 02:05] bramson commented on #103
I thought that would work too, but the problem is that when `edges` IS a geodataframe, `if edges = None` throws the error `the truth value of a GeoDataFrame is ambiguous`.

I agree it's just s matter of taste, and I agree that returning `None` in that case is more intuitive.  But I ran into the problem of getting incommensurable data types depending on whether edges were found or not.

But like I

[2020-11-27 04:28] bramson commented on #102
Thanks again for your hard work and detailed feedback.

Your workflow is exactly as I imagined it.  Because the OSM format is strongly node-first, with everything built from them, it totally makes sense to start from them and filter there.

For the performance, I think you got it backwards.  Getting the data for a small grid is amazingly fast 0.1 SECONDS!!!  Doing this for a city district took onl

[2020-11-27 05:43] HTenkanen commented on #103
Hmm, I am actually testing against None in the source codes in many places so it should work. (ie continue doing something with gdf if it is not None)

If you check the value of your variable using a "negation" approach, it should give True only when the variable is None and in every other case give False.
 And following this approach (negation) you can do something like:
[code]
I'll check with co

[2020-11-27 07:24] HTenkanen commented on #102
Hi @bramson thanks for the additional details! 👍

So just to be sure that, do you mean that when you use the `get_network(nodes=True etc.)` it takes 4 minutes? Or when you use `to_graph(nodes, edges)` function? For me, it would make more sense that the `get_network(nodes=True)` part would consume most of the time because at that point the filtering of nodes happens which is slow. This would also e

[2020-11-27 07:29] HTenkanen commented on #102
C:\WinPython\python-3.6.5.amd64\lib\site-packages\geopandas\_compat.py:88: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.8.1-CAPI-1.13.3). Conversions between both will be slow.

I hit this warning as well on my system, but this shouldn't influence the performance here at all. It only has an effect if you do some operat

[2020-11-27 11:14] bramson commented on #102
Yes, it is the `get_network` step that takes the most time.  I didn't realize THAT was the step where the filtering happened.  I thought it happened in the reading step:  `thisAreaData = pyrosm.OSM('../Data/OSMData/kanto-latest.osm.pbf', bounding_box=thisBoundingPolygon)`

But what you say explains both why the reading step is SO fast, while the `get_network` step is so slow...even with the DF is

[2020-11-27 13:55] HTenkanen commented on #102
Okay great to hear that you were able to get things working! 👍 I'll let you know here once there hopefully is a better/easier way to do the tiling.

[2020-11-28 08:17] HTenkanen opened #104 "ENH: Parse indoor elements"

[2020-12-16 14:40] martinfleis opened #105 "DOC: pyrosm.get_data not in API reference"
Hi, I just noticed that `pyrosm.get_data` is missing from API reference. It is not part of the class which is autodocumented. There may be other functions in a similar situation as well.

[2020-12-16 18:06] HTenkanen commented on #105
@martinfleis Ah true, thanks for pointing out! Need to add it to the autodoc.

[2020-12-20 13:27] chourmo opened #106 "Allow Python 3.9 and later"
Python 3.9.1 is recommended version for Apple Silicon and MacOS Big Sur.

environment.yml has a fixed dependency to python 3.8, making a conda install failing.

Is it possible to allow python 3.9 and higher ?

I will happily test pyrosm on my MacBook Air M1, first in x86 compatibility mode, then in ARM mode (when dependencies are available).

[2020-12-20 13:36] HTenkanen commented on #106
@chourmo Thanks for pointing out this! :+1:

I've needed to first wait for upstream libraries to support Python 3.9 (namely geopandas and its dependencies). Now it seems that geopandas has actually started supporting Python 3.9, so it should be possible to add the support here as well. Definitely would be nice if you can test the package then with the new MacBook to see if it works! 👍🏻

[2020-12-23 08:12] chourmo commented on #106
Pyrosm is working on Apple Silicon when installed via conda (mini forge x86), with python 3.8.

[2021-01-08 03:38] emilianosantin opened #107 "Question"
Is there any distance function that I could use to measure minimum distance (straight line) between a set of imported points/address and natural/ coastline/waterways without using  network tools?

Thanks

Emiliano

[2021-01-08 06:52] HTenkanen commented on #107
@emilianosantin Hi! No `pyrosm` does not include any of these, but you can use [geopandas](https://geopandas.org/) to calculate distances between objects. One approach is to loop over your point geometries (with `apply()`) and calculate the distance between the given point to all other geometries (e.g. waterways), and from those find out which is the minimum distance.

There is also some course ma

[2021-01-17 14:15] HTenkanen opened #108 "BUG: Some non-drivable roads leak to `get_network(network_type="driving")`"
Check the tag filtering for network.

[2021-01-30 06:53] #107 closed

[2021-01-30 06:54] #103 closed

[2021-01-30 14:01] emilianosantin commented on #107
Thanks for your help!

Sent from my iPhone

[2021-02-01 18:01] pmallas opened #109 "pyrosm cannot download data from Geofabrik"
Hello,

I am trying to download/read Honduras data from http://download.geofabrik.de/central-america.html with pyrosm.

Despite Honduras being available on the website, pyrosm does not seem to be able read it.

Thanks

[2021-02-01 18:20] HTenkanen commented on #109
@pmallas Thanks for reporting! 👍🏻 I will take a look. For now, it is possible that you download the file manually and pass a filepath to it when calling the `OSM()` reader.

[2021-02-01 21:44] pmallas commented on #109
Thank you.  I downloaded the file myself and did as you described.  And your work-around worked great.

[2021-02-02 10:00] kerinb opened #110 "Pyrosm Doesn't Provide Access to Many Markets"
I have been using pyrosm for a little while (it's great) but one thing I have noticed is that I am restricted on the countries I can appear to be able to access - For example I cannot access data for Trinidad and Tobago, Montserrat or Barbuda etc..

If there is a work around to getting access to this data, I would appreciate - but from what I can see, there's no way to access.

from pyrosm import

[2021-02-02 10:32] HTenkanen commented on #110
@kerinb Thanks for your comment and nice to hear that it has been useful for you 👍🏻 The `get_data()` functionality is indeed a bit limited and it only works if a subset of OSM data can be found from Geofabrik. As you can see from here: http://download.geofabrik.de/central-america.html

Trinidad and Tobago is not directly available from Geofabrik. BUT, there is a workaround and it is possible to fe

[2021-02-02 10:33] HTenkanen commented on #110
Alternatively, you could consider using OSMnx to fetch the data for these areas.

[2021-02-02 10:36] kerinb commented on #110
@HTenkanen Thanks for the quick response and the explanation - That all makes sense! I will take a look at accessing the PBF files. Thank you for the help on this, I appreciate it :)

[2021-02-02 12:05] HTenkanen commented on #110
Great! Feel free to ask again if you have any troubles 👍🏻

[2021-02-02 12:05] #110 closed

[2021-03-04 10:52] marcbosch-idencity opened #111 "QUESTION: Less memory-intensive approach for getting a whole country network"
I am trying to get a road network for the whole of peninsular Spain using the data from Geofabrik and it either times out or it returns the following error
`MemoryError: Unable to allocate 1.08 GiB for an array with shape (145087585,) and data type float64`
I'm using the following code (osm.pbf file is stored in my unit).

[code]
Is there any way I can reduce the memory use of this operation or ci

[2021-03-04 12:08] HTenkanen commented on #111
@marcbosch-idencity Hi! This indeed happens because you run out of memory. The next release of pyrosm aims to improve the control of the memory footprint in a way that it should be possible to read nodes and edges covering even larger countries such as Spain (see #87). Currently, it is possible to read larger countries using iterative approach by i) selecting data for smaller regions at a time (i.

[2021-03-04 12:16] marcbosch-idencity commented on #111
Thank you so much! I'll try the bounding boxes approach by the meanwhile.

[2021-03-14 11:49] Alfred-Mountfield commented on #6
@HTenkanen is this planned for the memory improvements in the next release you mentioned in #87 and #111? Trying to parse a relatively large (but not unreasonable) bounding box that crosses common GeoFabrik boundaries leaves a user with little choice but to parse a much larger file.

For example, I tried finding buildings within a box that covers the South-East quadrant of London and some of the c

[2021-03-14 11:53] HTenkanen commented on #6
Hi @Alfred-Mountfield!

The cropping will probably not be yet part of the next release. However, for your problem I would recommend using BBBike's online cropping tool that allows you to select any area in the world. Read more from the docs: https://pyrosm.readthedocs.io/en/latest/basics.html#what-to-do-if-you-cannot-find-the-data-for-your-area-of-interest

[2021-03-14 12:05] Alfred-Mountfield commented on #6
Part of the appeal of Pyrosm for me is how easy it is to integrate it in an automated pipeline (massive kudos there) without requiring a user to download separate input files. That said, it's definitely not necessary at this time, I already require a downloaded file at a different step for now so it's not a massive deal. As a user though it definitely seems like it'd be a really useful feature to

[2021-03-14 12:42] HTenkanen commented on #6
@Alfred-Mountfield Yep, definitely the goal would be to support easy cropping of PBF files with pyrosm 👍🏻  I did some early testing with that, but there were some peculiarities of the compression that made the first attempt quite unstable, and I'm not totally sure why that happened (I have some guesses but haven't had time to investigate more). But definitely if you find time to look at that (befo

[2021-03-14 12:43] HTenkanen commented on #6
Indeed! 👍🏻

[2021-03-14 16:33] anatrk opened #112 "Exclude filter by service 'leaks'"
I'm trying to use get_data_by_custom_criteria with exclude filter by service tag, but still getting unwanted service edges, for example with service=parking_aisle.
`
from pyrosm import OSM, get_data
from shapely.wkt import loads

drive_filter = dict(
    area=['yes'],
    service=['parking', 'parking_aisle', 'private', 'emergency_access','parking_aisle'],
    highway=['cycleway', 'footway', 'path'

[2021-03-15 08:09] HTenkanen commented on #112
@anatrk Hi! Thanks for reporting! 👍🏻 I will take a look at this. I have witnessed similar behavior --> #108

[2021-03-19 03:42] Eph97 opened #113 "import pbf to geopandas without filtering"
I was wondering if there was a way to import a pbf into geopandas using pyrosm without filtering the data.
I'm dealing with the osm planet file and have been using osmctools to select the specific regions and data I need. I had been using osmnx to analyze the data until the regions I was looking at became a little too large for osmnx. But as a result I have existing python code I'd love to use. I

[2021-03-19 05:39] HTenkanen commented on #113
Hi @Eph97! Hmm, interesting question! 🙂 So do I understand correctly that basically you would like to export **everything**, i.e all the features you see on a map at openstreetmap.org plus also the "hidden layers" that are not rendered on the map? Or what do you mean by reading pbf directly into geodataframe? Do you need to access all the elements, i.e nodes, ways and relations as "raw data"?

Thi

[2021-03-19 05:43] HTenkanen commented on #113
Would you have an example osm.pbf file that you have filtered, which I could use for testing?

[2021-03-19 06:19] Eph97 commented on #113
Hi @HTenkanen, exactly. I was able to get things working by just adding all the keys I was keeping with osmfilter using a custom filter such as:

`custom_filter = {'amenity': True, 'boundary': True, 'historic': True, 'landuse': True, 'leisure': True, 'natural': True, 'tourism': True}` (I'd already filtered out the values I didn't want so I figured just setting the keys that remained to true would

[2021-03-19 13:13] HTenkanen commented on #113
@Eph97 Thanks for your answer! Indeed, the approach you shared here was something that was on my mind as well. I will think about this a bit and see if there is a more straightforward way to accomplish the same without specifically specifying which keys to use. However, this is a bit special case (for more advanced user), as typically you do want to filter the data somehow.

But the least I can do

[2021-03-24 13:48] fiftysevendegreesofrad opened #114 "Coordinates of crossings do not match nodes on ways"
Running the following code produces two shapefiles (one way and one crossing node) in which the crossing node does not fall on the way.

It would seem that they should align as in the underlying data model, ways reference nodes? On the OSM website the node in question is directly referenced by the way:

https://www.openstreetmap.org/api/0.6/way/117042378
https://www.openstreetmap.org/api/0.6/node/

[2021-03-29 09:35] jscso opened #115 "get_network(): Control number of rows in resulting edge dataframe"
Hi,

first of all: thanks for this very useful library. Really appreciate!

I do have a question regarding get_network() method. Could someone please give me a hint how the number of rows is controlled actually? Is there a way to define how many nodes are "merged" into a single row of the resulting edge dataframe?

I'm retrieving lots of rows even from the same way id and even when tags are very s

[2021-04-14 15:21] phildias opened #116 "Please consider adding some type of regular expression-based filtering"
Hi there,
This is an awesome project, thank you for putting this incredible tool together!
I'm currently dealing with trying to get all roadway links that belong to a specific highway in Texas (specifically, the I-20 highway). The problem is that this highway is really long and is coded a bunch of different ways. Some places, it has `'ref'=['I 20']`, others it has `'ref':['I 20;US 259']`, and othe

[2021-04-17 19:15] pz-max commented on #6
Hi all,  we (@mnm-matin and myself) tried to extract with pyrosm substation (power) data for the whole African continent which also lead to a memory-related crash (16GB RAM laptop). Extracting the data for each country with pyrosm didn't solve the problem, because some countries in Africa still contained too much data.

We used afterwards the ["esy-osmfilter" ](https://dlr-ve-esy.gitlab.io/esy-osm

[2021-04-21 04:11] Eph97 opened #117 "Passing networkx graph to osmnx basic_stats no longer seems to work"
Again, really enjoying pyrosm. I've consistently been running into the same error even after trying many different attempts at getting around it so thought it might be worth creating an issue.

I had been using an older version of osmnx to get some basic graph stats from the data i'd been gathering using pyrosm. After updating osmnx for the first time in a while, it seems that the export networkx

[2021-04-21 06:00] HTenkanen commented on #117
@Eph97 Thanks for reporting! 👍🏻 I will take a look at this. Could you still provide info about which version of OSMnx you have?

[2021-04-21 06:44] HTenkanen commented on #117
@Eph97 Okay, I was able to reproduce the error. OSMnx adds a specific node attribute to the graph that calculates the number of streets connects to each intersection, and this is not currently done with pyrosm when exporting the graph.

For now, could you test whether the following workaround fixes the error that you receive?
[code]

By the way, please keep in mind that the pyrosm output graph to

[2021-04-21 06:50] HTenkanen commented on #116
Hi @phildias! And thanks for bringing this up! Someone has asked about this before as well but then did not understand what the use case would be. But now your example shows that this kind of feature would indeed be quite useful, so I will look into it whether it would be feasible to add functionality that would allow regular expressions. Not promising anything yet, but I'll see what can be done.

[2021-04-21 07:00] HTenkanen commented on #115
Hi @jscso! Good quesion 👍🏻

In case you are parsing the nodes and edges with `nodes, edges = osm.get_network(nodes=True)`, then pyrosm will split all road segments between nodes which is needed for making the graph routable. Hence, there will be rows where all attributes are identical but only the geometry of the road segment differs. The plan is to add some cleaning steps in the future release, w

[2021-04-21 07:14] HTenkanen commented on #114
Hi @fiftysevendegreesofrad, hmm so have I understood you correctly that in this situation, the node should be part of the way? :

![image](https://user-images.githubusercontent.com/6659534/115511930-15cee800-a28a-11eb-9689-2972e710f7e8.png)

[2021-04-21 07:33] HTenkanen opened #118 "BUG: `nodes=True` does not work when using custom filter"

[2021-04-21 07:59] HTenkanen commented on #114
@fiftysevendegreesofrad : Okay, the reason for this behavior is due to the very narrow bounding box that you use. If you use larger bounding box all the nodes are correctly kept as part of the geometry:

[code]

The small bounding box dropped all nodes that were outside of it, which is the reason why this happened. I will close this now because it seems that everything works as should. In case you

[2021-04-21 09:57] fiftysevendegreesofrad commented on #114
Hi, thank you for taking a look at this. Your finding is a bit mystifying as I originally spotted this issue with a much larger bounding box (a few kilometers per side). If you like I'll send that one through when I have a moment?

[2021-04-21 10:15] HTenkanen commented on #114
Hmm, okay well in that case, let's keep this open. 👍🏻 If you indeed could provide the bounding box that you used when spotting the issue, I can check if I can reproduce the issue. All the nodes of the way should definitely be included in the geometry if things work normally.

[2021-04-21 11:08] fiftysevendegreesofrad commented on #114
Right here goes, I just retested with the wider box, still the same issue. Code as above but:

`osm = pyrosm.OSM(data,bounding_box = [-2.7979396516874933, 51.760829607352036, -2.6410739337039164, 51.85148596274141])`

![image](https://user-images.githubusercontent.com/12543309/115544068-09eb2200-a29a-11eb-9966-5eb218c08153.png)

[2021-04-21 11:34] HTenkanen commented on #114
Excellent, thanks! 👍🏻

[2021-07-12 12:38] awa5114 opened #119 "Can't import OSM from pyrosm, KeyError MISSING"
I tried to do a basic test run with `pyrosm` on Geofabrik's us-northeast-latest PBF extract and the example provided in `pyrosm` docs:
[code]

The script crashes as soon as it hits the first line with the following error:

[code]

Does anyone know why it won't successfully import `OSM` from `pyrosm`? Thanks

[2021-07-12 14:32] HTenkanen commented on #119
@awa5114: Hmm the error is not coming from pyrosm but from geopandas. This most probably relates to this issue: https://github.com/geopandas/geopandas/issues/1793 .

Could you try and update your geopandas to a newer version and see if that helps?

Cheers,
Henrikki

[2021-09-03 07:33] PatGendre opened #120 "any incompatibility between pyrosm and papermill?"
Hi, thanks for this great software:-)
I a run a python 3.8 notebook which uses the pyrosm library for reading pbf files. The notebook runs smoothly on jyputer-lab but fails when executed by papermill on a docker container.

The error is
[code]
The instruction is
`osm=pyrosm.OSM(SOURCE_DIR+"/"+PBF_FILE)`

Note also than when executed with python 3.9 (not tested yet with 3.8), I see the following ex

[2021-09-03 12:40] PatGendre commented on #120
Sorry I've found the reason of my problems and it was not a pyrosm neither a papermill issue (rather a data issue) !

[2021-09-03 12:40] #120 closed

[2021-09-30 08:10] jugurthab opened #121 "Search data by lat/lng"
Hi,

I have two questions :

- I wonder if there is a way to search for the current street data (like name and number of lanes) using user's latitude/longitude as input for getNetwork()?
- Is there a way to find the next intersection and the next footway using getNetwork() ?

Thanks.

[2021-10-08 17:39] darribas opened #122 "Compatibility error at install"
I'm trying to cut the new [`gds_env`](https://github.com/darribas/gds_env) container and, when I run the install, I get the following error:

[code]

Is there any reason why it would not work with Python 3.9?

[2021-10-11 10:37] #119 closed

[2021-10-11 12:07] darribas commented on #122
Just tried it and it works fine! Thank you very much for the responsiveness, `pyrosm` 0.6.1 will make it into the next version of the `gds_env` :)

[2021-10-11 12:07] #122 closed

[2021-10-11 13:21] HTenkanen opened #131 "Support OSM history files (osh.pbf)"
OSH.PBF contains full OSM history (metadata).  It would be very useful for specific purposes to have the ability to read/understand how the OSM features have changed.

Notes:
- Downloading OSH.PBF from Geofabrik requires authenticating to Geofabrik with OSM account. Hence, this feature would work only with files that are downloaded manually by the user (no authentication functionality is planned a

[2021-10-13 11:50] jugurthab opened #133 "Check if user is on cyclelane/sidewalk"
Hi,

I'm new to OSM and pyrosm.

I'm wondering if it is possible to check if a given user is on a cyclelane, for example, I have the following data returned from the segment in which the user is located :

area                                                    None
busway                                               None
cycleway                                             lane
highway

[2021-10-14 11:58] christophfink opened #134 "[ENH] `pyrosm.OSM.to_graph` has a misleading name"
Going along with the conventions set forward by, e.g., pandas, methods of data classes/objects that follow the form `to_${format}` export the local object’s data to `${format}`.

`pyrosm.OSM.to_graph()` is more of a static method, and would be better called something along the lines of `graph_from_nodes_and_edges()`.

It is a rather trivial change, but potentially breaks derived works. Still, it s

[2021-10-14 13:00] mariogutierrezroig opened #136 "Semicolon present in opening_hours screws parsing"
I have detected a small bug when using osm.get_pois() using a custom filter. The geodataframe is not well parsed in some cases where opening_hours feature contain ; in the text.

My suspicion is that line 183 in data_filter.pyx (within filter_array_dict_by_indices_or_mask() function) could produce more items than expected. This probably clashes when using get_osm_nodes() in the data_manager.pyx fi

[2021-10-14 13:51] #136 closed

[2021-10-14 17:32] HTenkanen commented on #134
Graph and network are synonyms, so this is a bit ambiguous as well 🙂 (which one is used depends on the discipline). I think `graph_from_nodes_and_edges()` is the most unambiguous name to use but as said it's quite chunky, and because it is used very often by pyrosm users who continue working with network analysis libraries, it would mean repeating that long name time after another... 😄

Yes, this

[2021-10-14 18:22] #134 closed, assigned to nobody

[2021-10-16 12:45] #90 closed

[2021-10-17 12:22] napo opened #141 "create the data source for Italy"
Pyrosm currently uses data from Italy from geofabrik.
Geofabrik presents the data from Italy up to the macro-regions (= territorial aggregations - without administrative value - with which the national statics institute of Italy creates 4 territorial areas).

Istead the Italian administrative subdivision is made according to this hierarchical order
regions -> provinces -> municipalities

Wikimedia

[2021-10-17 19:40] napo commented on #141
@HTenkanen
I created the code on my fork

You can visit the difference [here](https://github.com/napo/pyrosm/commit/f0c14c77c64e1f267b508001bdc924f120284f58)

I created the file [__osmitaly.py__](https://github.com/napo/pyrosm/blob/master/pyrosm/data/osmitaly.py) and modified the file [\__init__.py](https://github.com/napo/pyrosm/blob/master/pyrosm//data/__init__.py) both in the path _pyrosm/data_

[2021-10-20 08:31] gregoriiv opened #144 "Incorrect behavior of custom_filter. {"highway ": ["bus_stop"]} returns wrong geometry types."
Hi,

Thaks for the nice library you made.
I started to use pyrosm not a long time ago.

For my purposes, it is necessary to filter about 60 types of various tags. When I executed the test with a couple of desired tags in the filter everything worked perfectly.  But when I tried to use the whole set of tags, the result became incorrect. So **the vast majority of "Polygon" type instances** were tran

[2021-10-21 07:41] gregoriiv commented on #144
I also noticed that when I used to filter by geometry types, as "keep_ways=False, keep_relations=True, keep_nodes=custom_filter.True", it also converted most of the polygons to LinearRing.

[2021-10-28 07:56] chrstnbwnkl opened #145 "OSM constructor not accepting pathlib Path objects"
## Expected Behavior

Constructing an `OSM` object by passing the filepath as a `pathlib.Path` object instead of a string should work just as well.

## Actual Behavior

`validate_input_file()` only accepts strings as filepaths, and an exception is raised:

## Steps to Reproduce the Problem

[code]

## Specifications

  - Version: 0.6.1
  - Platform: MacOS 10.15.7
  - Python version: 3.9.7

[2021-10-28 10:12] EwoutH opened #146 "ShapelyDeprecationWarning in OSM.get_pois()"
Using the [OSM.get_pois()](https://pyrosm.readthedocs.io/en/latest/reference.html#pyrosm.pyrosm.OSM.get_pois) function in Pyrosm 0.6.1 I got the following warning:
[code]

It looks like [pyrosm.py#L576](https://github.com/HTenkanen/pyrosm/blob/v0.6.1/pyrosm/pyrosm.py#L576) needs to be updated to account for https://github.com/Toblerity/Shapely/pull/955.

[2021-10-29 23:55] gegen07 opened #147 "Out of memory executing new york data example"
Hey, I was trying to execute the example using the new york dataset as written in [documentation](https://pyrosm.readthedocs.io/en/latest/benchmarking.html#parsing-large-datasets), but I run out of memory.

Config:
- Colab Pro
- RAM: 25 GB

It seems weird behavior as the doc state that 16GB of RAM would be ok to parse New York data.

[2021-10-30 09:26] HTenkanen commented on #147
Hi @gegen07,

a good point, thanks for raising this up! The most likely reason for this is the fact that the size of the data dump for New York state is approx. 1.8 times larger compared to the one that it used to be back when the benchmarks were run.

But overall the memory management is an issue which will be tackled in the future. The goal is to change the internal logic in such a way that it w

[2021-11-01 09:58] germayneng opened #148 "List out of index when reading road networks"
Good day!

I have been using pyrosm for more than a year and have been using it to extract tags from pbf files automatically. However, I am getting this error which I am not sure what might cause this issue. I have maintained my own pbfs. I hope you can help me with it.

(the pbf are some private pbfs so I cannot share them)

[code]

[2021-11-01 10:13] HTenkanen commented on #148
Hi @germayneng, and sorry to hear that you have had issues with pyrosm. This problem actually sounds familiar, as I have received a similar error myself earlier. I fixed it and it is already available in the master branch. Could you try installing the pyrosm directly from the master and report whether that solves this issue?

[2021-11-01 10:59] germayneng commented on #148
hi @HTenkanen. I have been a fan of your library and have been using them! it is just that I am not sure what caused this error. There are some recent updates for the particular pbf on my end by the team.

i just tried building from master but still am getting the error. Do you know why this happens?

[2021-11-01 12:48] HTenkanen commented on #148
Hmm, it's unfortunately a bit tricky to say what the exact problem is without seeing the data. 😕 The reason relates to parsing the geometry from given way coordinates but what exactly is happening is not clear. In my case, there were certain lat/lon values in the data that were incorrect (larger than the extent of the world's bounds). But this is fixed in [here](https://github.com/HTenkanen/pyrosm

[2021-11-01 12:51] HTenkanen commented on #148
How did you install the `master` branch version? (just trying to ensure that you actually use the library built from the source).

[2021-11-01 13:43] germayneng commented on #148
let me look into what you suggested and report. I will also think of a way to make this replicable so its easier to understand the problem.

With regards to your second question, i cloned the repo and

[code]

[2021-11-02 03:28] germayneng commented on #148
Hi @HTenkanen , it is really insightful. Based on my PBF and the code snippet you linked, my guess is that for `u` and `v`, it takes references to the first and last element of the node index.

From here, where do i access the geometries it tries to take reference from? I think the out of list index error meant that one of the node element is outside the maximum entry of geometries. I want to chec

[2021-11-02 03:31] germayneng commented on #148
looking at the code, it seems to be this `node_coordinates` list. Will be good to guide me on it!

[2021-11-02 04:51] germayneng commented on #148
Update:

I checked through all the way IDs and checked their nodes. i have found 5 IDs with no node index. could this be the issue?

[2021-11-02 05:21] HTenkanen commented on #148
@germayneng Yes, that could be the issue. However, an empty list should not cause issues because that is handled, so I wonder what else could it be. 🤔 Is there an empty list as nodes with those ways missing the IDs or is there something else? If there is something else, that could explain this.

[2021-11-02 07:25] germayneng commented on #148
i iterate through all the way IDs to check if their nodes belong in the node_coordinate list and only found the cases of these way IDs having no nodes. There seems to be no other way IDs that are flagged out. I am doing this because of

[code]

sorry I don't get this part. The search starts from the way IDs and loop for each node index, find the appropriate coordinates from `node_coordinates` corr

[2021-11-02 13:28] HTenkanen commented on #148
Okay, so did I understand correctly that there were cases where the node-id (of a way) didn't exist in `node_coordinates`? Just to confirm that I understood you correctly. If this is the case, then I think what is the problem, and how to deal with it 👍🏻

[2021-11-03 02:52] germayneng commented on #148
From my code, it was cases where the node-id of a way is empty. There are no cases where node-id of a way didn't exist in `node_coordinates`. Those that got a FALSE (not present in `node_coordinates` where because the node-ids are []

I think the issue is the pbf and we are looking directly on the pbf

[2021-11-04 18:31] Bommi95 opened #149 "Load pbf file on my local machine using pyrosm"
Is it possible to load my own pbf file from a local directory? Thanks!

[2021-11-04 20:49] HTenkanen commented on #149
Yes, you can read a local pbf file. You can check more info from the documentation: https://pyrosm.readthedocs.io/en/latest/basics.html#initializing-the-pyrosm-osm-reader-object

[2021-11-04 20:49] #149 closed

[2021-11-05 14:14] majkshkurti opened #150 "Not enough memory error when parsing pbf dataset"
Hello.
I was trying to parse a pbf file (approx. 65 mb) and I get an "out of memorry" error. I also have noticed that others have this issue as well. My machine specs should be sufficient for parsing this data (16gb of ram, i7 CPU),... I suppose.
I tried to investigate why this memory error occurs on small datasets and in my case it looks like it comes from node elements that are returned from the

[2021-11-05 14:55] HTenkanen commented on #150
Hmm, this sounds weird. A pbf of that size should fit to the memory if you have 16GB RAM. I assume you don't have anything else running at the same time that would consume a lot of memory?

Could you say which PBF file did you try to read, so I can check whether I can reproduce this behavior on my laptop?

[2021-11-05 15:24] majkshkurti commented on #150
Yes, I had other services running but I had available around 6-7 GB of memory and I thought this would be sufficient.
This is the data:
https://download.geofabrik.de/europe/germany/bayern/mittelfranken-latest.osm.pbf

[2021-11-05 15:31] HTenkanen commented on #150
Yes, unfortunately due to the logic how pyrosm now reads everything into memory at a first step, is not a good solution. There is discussion about this topic in many other issues as well. And there are plans to improve the memory handling by changing the logic how the data is read which should allow reading much bigger PBF files. However, it takes some time before getting this implemented.

[2021-11-05 15:35] HTenkanen commented on #150
@majkshkurti Which operating system you are working with? If on Unix, adding more Swap memory can help a little bit this issue: https://linuxize.com/post/how-to-add-swap-space-on-ubuntu-20-04/

[2021-11-05 15:49] HTenkanen commented on #150
Hmm, okay there is actually a significant different between the memory usage of pyrosm v0.5.3 vs the current version. With `pyrosm==0.5.3` parsing e.g. the mittelfranken PBF can be done with ease, whereas with the current release, also my computer struggles parsing the file.

There have been some changes that might explain this, such as #50 which might explain why the numpy arrays now consume much

[2021-11-05 16:05] HTenkanen commented on #147
@gegen07 : Also found a "bug" which has unnecessarily increased the memory footprint of numpy arrays, see #150.

[2021-11-05 17:55] majkshkurti commented on #150
I understand. Yes, I am using UNIX. The problem is that sometime I run this inside a docker container in which I can't allocate a lot of memory. I will switch to version 0.5.3 at the moment. I will have a look on the source code and think on how to improve the performance.
Thanks a lot for the great work.

[2021-11-05 19:32] HTenkanen commented on #150
Ah, yes sure, with Docker it can indeed be tricky to do any tricks with swap memory.

I already did a bit of improvements (in #151) which helped to bring the memory footprint down a bit (closer to the level as it was with v0.5.3) . I was able to read a PBF with size of 150MB with 16GB of memory and another 16GB of Swap.

[2021-11-05 20:16] HTenkanen commented on #148
@germayneng Did you find an issue with your PBF or is this still an unresolved issue?

[2021-11-06 08:44] germayneng commented on #148
we revert back to our previous version of pbf. I have not got the update on the cause. But this is not a blocker on my end. Will update you the cause to see if pyrosm can catch it

[2021-11-10 17:49] Zigur opened #152 "Potential memory issue when using `get_boundaries`"
Hello, I did try to use one of your examples to get the county boundaries of Great Britain

[code]

When the execution reaches `osm.get_boundaries()` it hangs for a while and then it crashes with this error message:

[code]

Which could be caused by an insufficient memory issue. Running this on an Ubuntu 20.04 machine, using a python 3.9.7 virtual environment.
Has anyone encountered this issue?
Th

[2021-11-10 18:05] HTenkanen commented on #152
@Zigur With the current logic of pyrosm, trying to parse data covering whole GB is not possible because (all) the data from PBF is read into memory. In the future release, the goal is to change this logic so that you can read data from large PBF files (basically the size of the disk is then the limit)

[2021-11-11 09:21] Zigur commented on #152
Thanks for the clarification @HTenkanen. So if I want to get the county boundaries a sensible way would be to iterate through all the counties and get each boundary, right? Giving it a try.

[2021-11-11 16:47] Zigur commented on #152
Sorry to pester you again, maybe it's not even a pyrosm related issue.

If I get the boundaries of an English county and plot them, there are some weird straight lines that do not belong to administrative divisions.

For instance, if I plot the Oxfordshire map:
[code]
I get this map with some straight random lines:

![image](https://user-images.githubusercontent.com/6864177/141335723-9f7e21d4-7cfa

[2021-11-11 16:58] DanielePassabi opened #153 "Cannot properly install Pyrosm"
Hi, I can no longer install and import the library correctly.

**FIRST ATTEMPT**
- First I tried on my main computer, running Windows 10 version 10.0.19043 Build 19043.
- I created a virtual environment using anaconda, installed `geopandas` using `conda install geopandas` and subsequently `pyrosm` using `conda install -c conda-forge pyrosm`, as recommended in the [documentation](https://pyrosm.rea

[2021-11-11 17:04] HTenkanen commented on #152
@Zigur Thanks for reporting this! 🙏🏻 Definitely this is something that should not happen. Could you open a new issue for this, so I'll check what causes this behavior. The most likely reason for this relates to how the geometries are parsed and when "closing" the linear ring. This is a good test case for debugging the issue because you seem to have so many problematic geometries.

[2021-11-11 17:05] Zigur commented on #152
sure

[2021-11-11 17:05] #152 closed

[2021-11-11 17:07] Zigur opened #154 "Broken boundaries when using `OSM.get_boundaries()`"
If I get the boundaries of an English county and plot them, there are some weird straight lines that do not belong to administrative divisions.

For instance, if I plot the Oxfordshire map:
[code]
I get this map with some straight random lines:

![image](https://user-images.githubusercontent.com/6864177/141335723-9f7e21d4-7cfa-4d5a-9391-47a525293e71.png)

Getting only the border named "Oxfordshire

[2021-11-11 17:19] HTenkanen commented on #153
Thanks @DanielePassabi for reporting this! There has been some updates on the cykhas library lately which is probably the reason for this. Could you try and install an older version of cykhas library before installing pyrosm, and see if that solves the issue?

[2021-11-11 17:21] HTenkanen commented on #154
@Zigur Thanks! I will look into this 👍🏻

[2021-11-11 18:06] DanielePassabi commented on #153
Thank you so much for your quick answer! @HTenkanen

I installed `cykhash-1.0.2` beforehand and everything works fine now :)

I don't know if it is possible but it would be a good idea to have this version of `cykhash-1.0.2` downloaded when using `conda-forge`.

[2021-11-11 19:07] HTenkanen commented on #153
Yes, I need to update the code base to reflect the latest changes in cykhash for the next release. But yes, freezing the cykhash version to older one is a quick fix for the installation issues.

[2021-11-11 23:35] Franky1 commented on #150
Can confirm this issue, i tried also to read the `mittelfranken` and `oberbayern` pbf files, in both cases the Kernel just died without any error message.

[2021-11-13 11:50] HTenkanen commented on #153
Note to self:
- There has been breaking changes in Cykhash v2.0.0: use of [different names/signature for maps](https://github.com/realead/cykhash#release-200-09112021) which is the likely reason for this behavior observed in here.

Todo:
  - Update the logic how the `isin()` lookups are done in `data_filter.pyx` using khash

[2021-11-13 17:25] realead commented on #153
@HTenkanen

The issue is, that the used pyrosm-version was built with cykhash v1.0.2 but runs with cykhash v2.0.0.  One has either to run with cykhash v1.0.2 or to rebuild pyrosm against cykhash2.0.0.

This explains the observations:

   * pyrosm from conda was built with cykhash v1.0.2 and thus would fail at runtime when installed along with cykhash v2.0.0
   * pyrosm installed from pip would bui

[2021-11-13 17:39] HTenkanen commented on #153
@realead Ah right, thanks for a quick reply and clarifying the change! 👍🏻 (did not know whether there were some larger changes involved). So this is a rather easy fix then, will update the setup accordingly, thanks! 🙂

[2021-11-15 21:53] mmz15 commented on #111
Is this change implemented? I'm trying to extract US West features but my Python kernel does (out of memory). I'm on a 16gb Mac.

[2021-11-17 05:10] floydluo opened #156 "Error -5 while decompressing data: incomplete or truncated stream"
Hi,

Great works.

I met the following error when I read this pbf file: https://drive.google.com/file/d/136uwnat7eiKYTcesuGLxaa8_vDLM71Ao/view?usp=sharing.

[code]

What can I do for it?

Thanks,

Floyd

[2021-11-17 21:58] wendy-ngan opened #157 "TypeError: get_data_by_custom_criteria() got an unexpected keyword argument 'timestamp'"
I want to download geofabrik canada files from their raw directory index with public transit filter. I tried the following and got a type error for timestamp:

[code]

[2021-11-24 08:52] germayneng commented on #148
@HTenkanen i believe we found duplicated way ids in our pbf which is causing this issue. I do not think there is any action plan i have in mind. Appreciate your prompt reply. Do i close this issue?

[2021-11-24 09:28] kleikemper opened #159 "pyrosm import does not work since last update"
Since last update, the line

from pyrosm import OSM, get_data

produces the following error:

TypeError: C function cykhash.khashsets.Int64Set_from_buffer has wrong signature (expected PyObject *(__Pyx_memviewslice, int __pyx_skip_dispatch, struct __pyx_opt_args_7cykhash_9khashsets_Int64Set_from_buffer *__pyx_optional_args), got struct __pyx_obj_7cykhash_9khashsets_Int64Set *(__Pyx_memviewslice, i

[2021-11-24 09:56] HTenkanen commented on #159
Hi @kleikemper, see this issue for solution and explanation why this happens #153

[2021-11-24 10:00] kleikemper commented on #159
Thanks for the quick response!

[2021-11-24 10:00] #159 closed

[2021-11-24 12:04] HTenkanen commented on #148
Ah okay, that might indeed be a reason for this error. Good that you were able to sort this out! 👍🏻

[2021-11-24 12:04] #148 closed

[2021-11-24 12:37] HTenkanen commented on #157
@wendy-ngan :  The `timestamp` parameter is currently only available in the development version of the pyrosm that should be installed from the master branch (hence you should just not specify the `timestamp` at all).

Other thing relating to your question: `pyrosm`  isn't yet capable of handling data files as big as whole Canada which is 2.6 GB in size. Hence, it is very unlikely that your query

[2021-11-26 03:30] floydluo commented on #156
To follow up. I find a series of PBF files cannot be read by `pyrosm`, though they are commonly used in different GIS websites. The data I posted above is from

There is another pbf file URL link:

[code]

It looks like:

![image](https://user-images.githubusercontent.com/18824134/143522421-e4af08ea-c1b1-463e-b7a3-3b16d806ff4a.png)

Obvious, they have `decompressing data: incomplete or truncated s

[2021-11-26 05:25] HTenkanen commented on #156
@floydluo Hmm interesting, thanks for raising this up. If this would have been only a single file, I would have said that it was just a corrupt file, but now it seems that the files are more systematically different. Could you tell a bit more from where these datasets come from and who produces them (if you know)?

The likely reason for these issues is that they have produced the PBF file using so

[2021-11-26 07:57] HTenkanen commented on #156
@floydluo: Could you also describe a bit more, how you have read that file so that you were able to produce that map? Are you using e.g. QGIS?

[2021-11-26 08:14] HTenkanen commented on #156
Hmm, okay I investigated this a bit and it seems that at least the latter example is a TileMapService that has specific layers:
https://ahocevar.com/geoserver/gwc/service/tms/1.0.0

I was able to read it with QGIS:
![image](https://user-images.githubusercontent.com/6659534/143547528-9aa51883-dd1a-4e22-b021-20a26b0a6e3d.png)

This data looks like they are WMS tiles. I don't have much experience wit

[2021-11-26 08:19] HTenkanen opened #160 "[ENH] Raise a meaningful error if input data is something else than OSM.PBF with valid schema."
Pyrosm should raise a meaningful error in case the user passes a `pbf` file that does not follow OSM.PBF schema.

See #156 for further info.

[2021-11-26 14:53] floydluo commented on #156
Hi @HTenkanen,

Thanks a lot for your reply. Actually, I am a layman on OSM and PBF and I learned a lot from your explanation.

You are right, I downloaded the PBF file and drag it to the QGIS to see how it looks like. For the first PBF file, I downloaded it from this website:

![image](https://user-images.githubusercontent.com/18824134/143598367-0d263c91-c7c2-42e6-8d44-fa12d0bd2cb1.png)

This web

[2021-11-26 14:59] floydluo commented on #156
However, I can open it with QGIS and export it to the GEOJson format. But I find the coordinates are not correct.

The example looks like this:

[code]

You can see that `centroid` and `way_json_envelope` have correct coordinates. But coordinates in `geometry` are weird.

Is this format designed specially for the PBF file? Is there any algorithm I can use to convert the `geometry`'s coordinates in

[2021-11-26 16:32] HTenkanen commented on #156
@floydluo : Yeah, the thing is that PBF is a commonly used data compression format which is not necessary related to OSM.PBF at all. Hence, the files that you've tried to read with pyrosm or osmium won't work because the datasets that you have downloaded are just spatial data layers that have been compressed with PBF, but not containing the data in a format that is supported by these OSM data-read

[2021-11-26 16:56] floydluo commented on #156
Wow, amazing! It works. Thanks so much! I really learned a lot from your work and explanation. Appreciate your patience with the GIS amateur like me a lot!

![image](https://user-images.githubusercontent.com/18824134/143611903-e36a9abc-2e55-4d2b-a50d-0d8079c9fd2b.png)

[2021-11-26 16:56] #156 closed

[2021-12-08 18:28] leohoy opened #161 "SIGSEGV Error in fresh Conda and Basic Code"
My Code:

[code]

The output:
[code]

[2021-12-08 20:30] HTenkanen commented on #161
@leohoy : Could you please provide more information about your system/setup? With this information it is not possible to say what might be causing this error. Sigsegv error can arise from various reasons..

- What OS are you using?
- What packages (and versions) do you have in your environment?
- Is geopandas working normally otherwise?

[2021-12-08 20:42] leohoy commented on #161
Ah Geopandas is not working indeed. Error message:

[code]

I use Ubuntu Ubuntu 20.04.3 LTS

I installed pyrosm as the first package in a fresh Conda environment with Python 3.7 with `conda install -c conda-forge pyrosm `. I did not install any other packages.

[code]

Yes, i am running this on my own computer

[2021-12-09 16:17] jspalink opened #162 "get_data for USA subregion georgia pulls data from the country of Georgia."
When pulling data from subregions in the United States, when you get to Georgia, the get_data call will download data from the country of Georgia rather than from the state of Georgia.

[code]

All the POIs that are retrieved will be in the country of Georgia, rather than the USA state of Georgia.

[2021-12-11 02:18] khelzor31415 opened #163 "Invalid Projection CRSError"
I'm trying out the sample code from the official page
`osm = pyrosm.OSM(get_data('Helsinki'))
drive_net = osm.get_network(network_type="driving")
drive_net.plot()`

and get the error
`CRSError: Invalid projection: epsg:4326: (Internal Proj Error: proj_create: no database context specified)`

what are the possible courses of action?

[2021-12-11 06:07] HTenkanen commented on #163
Hmm, this sounds like a problem with the pyproj library. Perhaps an installation issue.

Have you tried plotting some other data with geopandas? Does it work?

[2021-12-11 07:45] HTenkanen commented on #162
@jspalink Oh my. 😬 Thanks for reporting, will take a look at this! 👍🏻

[2021-12-11 09:57] khelzor31415 commented on #163
geopandas works fine with other projects, and can plot too. Can you suggest possible solutions to fix it if it's a problem with the pyproj library? Sorry if this seems like a beginner question.

[2021-12-11 10:43] HTenkanen commented on #163
Hmm, okay interesting. Have you used conda for installing the packages?

Could you provide a list of packages and their versions in your environment? Eg `conda list` command from terminal will provide you the list

[2021-12-14 14:58] kevinle-1 commented on #153
Just leaving a comment containing the error for search engines to crawl as I had spent some time looking for this issue 😅 - Just hopefully to save someone some time down the line.

[code]

[2021-12-15 10:10] Philipp-Otter commented on #113
Hello everyone,

I would love this feature as well. The filter could look something like {True: [True]} or {'True': [True]} as boolean is not accepted as osm feature.

Thanks for your work @HTenkanen.

[2021-12-15 20:02] RobertEdwardes opened #164 "Cykhas error when importing pyrosm"
when importing pyrosm i get this error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\ProgramData\Anaconda3\lib\site-packages\pyrosm\__init__.py", line 2, in <module>
    from pyrosm.pyrosm import OSM
  File "C:\ProgramData\Anaconda3\lib\site-packages\pyrosm\pyrosm.py", line 3, in <module>
    from pyrosm.pbfreader import parse_osm_data
  File "pyrosm/pbfread

[2021-12-15 20:05] #164 closed

[2021-12-15 20:05] RobertEdwardes commented on #164
Already reported

[2021-12-16 07:48] emiliovfx opened #165 "How I can download data using a lat, lon bounding box?"

[2021-12-25 17:48] leohoy commented on #161
So i got to run geopandas, but still I get the same SIGSEV error, when running the script..

[2021-12-25 18:19] leohoy commented on #161
Solved it by reinstalling header files and static libraries: sudo apt-get install python3-dev

[2022-01-01 15:11] webcoderz opened #166 "Get buildings function keeps crashing jupyter on Ubuntu"
Strangely enough it works just fine on my MacBook, my Ubuntu box has 4x the amount of RAM also.. ¯\_(ツ)_/¯

[2022-01-03 11:05] AdrianKriger opened #167 "`addr:suburb` from osm.pbf"
Hi.
Thank you for this library.

Why does the osm.pbf harvested via pyrosm not have the `addr:suburb` tags?
[code]
produces:
```addr:city   addr:country   addr:housenumber   addr:housename   addr:postcode   addr:place   addr:street   email	name  etc.```

with [overpass](https://overpass-turbo.eu/#)
[code]
produces -> random example:
[code]

[2022-01-03 13:28] HTenkanen commented on #161
@leohoy: Okay, great so I assume everything is working now? I'll close this now, but in case you have issues still, feel free to re-open.

[2022-01-03 13:28] #161 closed

[2022-01-03 13:33] HTenkanen commented on #165
@emiliovfx Hi! pyrosm does not support downloading data directly based on custom lat/lon bounding box because the input data dumps provided e.g. by Geofabrik are predefined to specific areas, and pyrosm reads those. However, there are a couple of ways to get around with this limitation:

1. Download PBF data using BBBike extract tool that allows specifying the area of interest --> https://pyrosm.r

[2022-01-03 13:34] HTenkanen commented on #163
@khelzor31415 : Any update on this one? Are you still having this issue?

[2022-01-03 13:34] #157 closed

[2022-01-03 13:43] HTenkanen commented on #167
@AdrianKriger Hi! Thanks for reaching out!

`pyrosm` works in a bit different way as overpass, because the end result of pyrosm is a columnar geopandas GeoDataFrame. To avoid generating a separate column for all possible OSM keys (which are numerous), we have limited the OSM keys that are returned as columns by default. However, all the "none-deafault" attributes are stored in `tags` column as a J

[2022-01-03 13:45] HTenkanen commented on #166
@webcoderz : Sorry to hear that. Do you receive any specific error, or what happens? With this description it is a bit hard to say what might be going on. Does other pyrosm functions work? E.g. `get_network()`?

[2022-01-03 20:55] AdrianKriger commented on #167
[code]
did the business. Thank you

[2022-01-03 21:05] djbusstop opened #168 "Segmentation Fault when attempting `get_buildings` and `get_network`"
Hello! Thanks for making this library. I am really liking using it so far.

I am having an issue with seg faults which I wanted to ask about solving. My computer has higher specs than the benchmark computer, including more ram. So I am unsure why it's not even running.

The python script is running in a docker container. What's happening is that when calling `osm.get_network()` I get the following

[2022-01-04 06:35] HTenkanen commented on #167
Great! 👍🏻 Closing this now.

[2022-01-04 06:35] #167 closed

[2022-01-05 20:06] gegen07 commented on #147
Sorry for the late response. With the updates done I've already seen some improvements in memory consumption, but it still runs out of memory.

About this issue, would you want any help? I'm more than happy to help you tackle this issue. I think there's a lot to learn with this environment.

[2022-01-06 00:18] webcoderz commented on #168
This is exact issue I'm having in https://github.com/HTenkanen/pyrosm/issues/166 upon further research. Jupyter doesn't provide as verbose logging as running it normally

[2022-01-06 07:23] HTenkanen commented on #168
Hmm interesting.. Thanks for raising this up! This might be something to do with new version of Cython, I need to investigate a bit more. Could you provide information about which version of Cython you are using and which operating system?

A possibly relevant issue related to this: https://github.com/scipy/scipy/issues/14732#issuecomment-934611750

[2022-01-06 17:09] martinfleis commented on #131
It feels a bit slow but apart from that, it works like a charm! Thanks!

[2022-01-06 18:16] webcoderz commented on #168
its working on my mac with the following environment
Cython 0.29.15
python 3.7.6
pyrosm version 0.6.0

[2022-01-06 21:12] djbusstop commented on #168
I just reinstalled everything and now things seem to be working in the same environment with all helsinki data. this is the cython version
[code]

[2022-01-11 17:43] MichaelAnders commented on #168
Same / similar issue happening as well for me with "get_pois".

Fedora 34 (in a Qubes VM)
pyrosm - installed today (1tth Jan 22) first time
Python 3.9.9
Cython version 0.29.26

Watching memory usage with htop shows slow (0.02 GB) to fast (0.8 GB) memory consumption between htop updates.

Code used:
fp = get_data("Karlsruhe", directory="Downloads")
osm = OSM(fp)

my_filter = {"nodes": ["1989098258"

[2022-01-14 21:50] MarcoDiFrancesco commented on #168
I have this problem when installing the package with pip.

[2022-01-16 15:25] ndvanforeest opened #169 "installing glad"
Hi,

I had some troubles installing pyrosm via pip on manjaro linux. It appeared that I first had to install GLAD. Perhaps it makes sense to mention this in the troubleshooting section in the installation section.

Thanks for making such excellent documentation.

[2022-01-18 10:35] chourmo opened #170 "Wrong OSM id for relations"
The osm id for relations is not the value from OpenStreetMap.

[code]

Results has 2 rows with id 1428478507 and 19033931325.

There is no relation id with these values in openstreetmap www.openstreepmap.org/relation/1428478507 and  www.openstreepmap.org/relation/19033931325

The right osm ids are 3048922 and 11959147

[2022-02-01 07:10] AdrianKriger opened #171 "BBBike extracts"
Hi.

I am sorry asking this question here. I can't find the information on the [BBBike page](https://download.bbbike.org/osm/bbbike/).
[Geofabrik](https://www.geofabrik.de/data/download.html) creates extracts almost daily.
BBBike `Last Modified` often shows the day / or two before. Does BBBike create extracts almost daily too?

Regards.

edit - 07/02/2022.
It looks like every week (7 days).

[2022-02-03 11:24] SpoJa92 opened #172 "to_graph() method too time consuming"
Hi,

I am working with the OSM for Germany. I loaded the pbf.-file succesfully. However, converting the data into a graph is too time consuming.

What can I do to speed up the process?

I am attaching my code for more details. Thank you for your support.

[code]

[2022-02-07 08:54] #171 closed

[2022-02-07 11:43] calvinsac commented on #150
Hi @HTenkanen
I think this issue has more to it than just the Memory issues. I am currently using this library in a GCP VM where i am facing ipython notebook kernel dying for the smallest of PBF files(Comores 3.3MB).
However i can get results if i call certain functions like get_network() but when i try to do a custom filter it kills the kernel.

[2022-03-03 00:11] dhellfeld commented on #168
Also having this issue. Any updates?

[2022-03-03 08:37] MarcoDiFrancesco commented on #168
The only solution is using Conda instead of Pip

[2022-03-03 16:00] webcoderz commented on #168
latest version in conda didnt work for me got a "truncated error" message when running osm.get_buildings // osm.get_network() functions :

[code]

[2022-03-09 22:29] pyrosnowman24 commented on #168
I was able to get it working in Conda with:
python==3.8.12
pyrosm==0.6.1
cython==0.29.28
cykhash==1.0.2
pygeos==0.10

It seems that pygeos 0.11 and newer cause the segmentation fault.

[2022-03-10 19:57] NicolasMafla opened #173 "Error when i try to get driving data from Brazil Sudeste"
I downloaded directly from https://download.geofabrik.de/south-america/brazil/sudeste.html .pbf file. I run the following code:

`from pyrosm import OSM`

`osm = OSM(filepath=".../sudeste-latest.osm.pbf")`
`roads = osm.get_network(network_type="driving")`

And return this error:

  File "/home/user/miniconda3/envs/.../lib/python3.8/site-packages/pyrosm/networks.py", line 12, in get_network_data

[2022-03-28 14:38] arredond opened #176 "Reading PBF from osmfilter -> osmconvert fails"
I'm working with very large PBFs (whole Planet.osm dumps) and want fetch all objects with certain tags, such as all airports (`aeroway=aerodrome`), ports (`harbour=yes`), etc.

I've seen that it's much faster to use a combination of popular OSM tools for preprocessing than to feed the whole file into `pyrosm`. For instance, extracting all airports from the latest Geofabrik extract for Belgium take

[2022-04-04 15:15] teawithoney opened #177 "Is there a capability of finding road/streets intersections and returning their Lat, Lon ?"

[2022-04-19 01:07] dhodcz2 commented on #170
I am encountering the same issue as well. After loading NewYorkCity, the way IDs seem to be correct, but all of the relation IDs seem to be incorrect.

From 'newyorkcity.osm.pdf':

wikipedia,id
en:4 World Trade Center,9494583065
en:5 Beekman Street,9513062783
en:Alexander Hamilton U.S. Custom House,9498278818
en:Castle Clinton,9505670327

All of these IDs are incorrect. The way IDs are however cor

[2022-04-25 17:50] hulsiejames opened #180 "osm.get_network() returning None type after one use"
I think there may be a bug or at least issue within the OSM.get_network() function?

For reproducibility, this error has occurred on a system running Windows 10 (10.0.18363 Build 18363) with 16GB Ram and a i5-10310U Processor running python within a conda environment with the following packages installed.
[code]
I have been conducting my analysis in both the Spyder IDE (version: 5.1.5) and jupyter

[2022-04-27 14:32] lenkahas opened #181 "The custom network filter does not return graph nodes, would there be a way to do that?"
Hi, I was working with the pyrosm for the past week or so and I noticed that when retrieving a network through the custom filter and keeping the nodes, the nodes for the graph are not included and so I can't translate the network to graph. Although the get_network function does retrieve the nodes, I'm not able to use the custom filter in that function.
Maybe I'm just missing something, would you a

[2022-05-03 06:52] grndng opened #182 "Running the example from the docs, receiving TypeError regarding geometry objects"
Hey there,

so when I try to run the following example, I'm getting the mentioned error which I will also attach. I've tried out multiple ways and multiple kinds of data (buildings, pois, network with specific flags) to no avail.

This is what I'm trying after installing `pyrosm` with `conda install -c conda-forge pyrosm`:
[code]

which results in:
[code]

[2022-05-03 15:40] HTenkanen commented on #182
@grndng : Hi thanks for raising this issue! This is most likely due to an updated version of pygeos/shapely, and these changes have not yet been accounted for in pyrosm. I will look into this (plus various other issues) in the coming weeks, as I finally should have time to make progress again with this project.

[2022-05-04 05:37] HTenkanen commented on #181
Hi @lenkahas, thanks for raising this to my attention! 👍🏻 I will take a look at this next week. What kind of network are you trying to extract? It is possible to customize the criteria that is used for parsing the network with `.get_network()` but it's easier to point to right direction with a bit more details what you aim to achieve. 🙂

[2022-05-05 17:55] hulsiejames commented on #180
UPDATE

I have since been provided with a new Ubuntu laptop, thus a fresh install and the problems still persist.

As can be seen below - I can request and plot the initial network request I make (```leeds_total_network```) however any subsequent requests I make (i.e. ```leeds_driving_network | leeds_walking_network | leeds_cycling_network etc.```)

I can request and plot the intitial network I re

[2022-05-10 18:27] HTenkanen opened #183 "Fix GA workflow with latest actions"
Codecov action v1 is not working anymore and needs to be updated to v2:
https://github.com/codecov/codecov-action#%EF%B8%8F--deprecation-of-v1

[2022-05-16 09:04] lenkahas commented on #182
I'm experiencing same error
TypeError: Input must be valid geometry objects: LINESTRING (-2.61 51.366, -2.61 51.366)

[2022-05-16 10:44] HTenkanen opened #184 "Maintenance: Improve cleaning script"
Clean also *.so and *.c files from `pyrosm` directory

[2022-05-16 10:56] HTenkanen opened #186 "Maintenance: Add issue templates"
To make the maintenance easier, create issue templates that guide users to create issues with specific structure.

[2022-05-16 13:15] #183 closed

[2022-05-16 13:40] HTenkanen opened #189 "Fix tests after float accuracy adjustment"
Due to #188, there seem to be slightly more features returned in many cases. Likely due to small changes in the result of intersecting with the bounding box.

[2022-05-16 19:33] HTenkanen commented on #180
@hulsiejames : Thanks for reporting and good reproducible examples. Will take a look this in the coming days.

[2022-05-16 19:42] HTenkanen opened #191 "Update the codebase for latest pygeos/shapely"
Pygeos and shapely have been updating significantly. Update the codebase to reflect these changes.

Relates to #182 #146

[2022-05-17 11:07] HTenkanen commented on #189
Closed by #190

[2022-05-17 11:07] #189 closed

[2022-05-17 11:58] HTenkanen opened #193 "DOC: Building RTD docs don't work due to Jinja2 import issues"
See this issue for reference: https://github.com/sphinx-doc/sphinx/issues/10291

[2022-05-17 12:03] iain-palmer commented on #182
Also getting the same error with shapely = "1.8.2"; no errors with shapely = "1.8.1"

[2022-05-17 12:07] HTenkanen commented on #182
Thanks guys for reporting. Will take a look at this after first getting more urgent maintenance related issues fixed.

[2022-05-17 12:50] lenkahas commented on #180
Hi, sorry to add to this, I'm having the same issue. I can only get one network for one session and need to restart the kernel to get another network.

[2022-05-17 13:12] HTenkanen commented on #180
@lenkahas Hmm, quite weird behavior. Thanks for reporting, will also look at this.

[2022-05-17 14:57] #186 closed

[2022-06-05 14:48] bstrdsmkr opened #197 "Bounding Polys of data.available"
**Is your feature request related to a problem? Please describe.**
Often, areas of interest lie close to the edges of the available pbf downloads, but it isn't always clear if it's necessary to download adjacent or superset datasets.

**Describe the solution you'd like**
Add "bounding_polygon" as a property of the data.available classes. This could be calculated once and allow users to make better

[2022-06-13 10:33] Stoofik opened #198 "Get buildings merged parts and creates a new ID"
**Describe the bug**
When extracting buildings from osm.pbf data using simple get_buildings(), some more complex buildings that are split to multiple parts in original osm.pbf are merged together and completely new ID is created... There is no mention about this behavior in the documentation, which can produce quite confusing results, where original shapes and ID's are completely wiped out. It hap

[2022-06-13 11:02] HTenkanen commented on #198
@Stoofik : Thanks for reporting this. This issue is most likely related to the issue with incorrect relation ids as reported in #170.

[2022-06-20 23:06] rohanaras opened #199 "unexpected behavior when using bounding boxes"
**Describe the bug**
Following [this pandana example](https://pyrosm.readthedocs.io/en/latest/graphs.html#calculate-the-job-accessibility-in-helsinki-region-with-pyrosm-pandana) with an `OSM` reader object created using a bounding box raises a `ValueError` on the `osm.to_graph` step.

**To Reproduce**
Steps to reproduce the behavior:
[code]

where `bbox` is a bounding box that cuts through an edge

[2022-06-27 13:46] HTenkanen opened #200 "Fix documentation URL"
The documentation URL in setup.py is wrong. Should point to RTD.

[2022-07-25 23:08] elliotmc003 commented on #182
Same error using Shapely 1.8.0. Any update on the horizon? Thanks

[2022-07-26 20:04] folt commented on #154
I have the same problem.
After uploading the geo data was corrupted.
![image](https://user-images.githubusercontent.com/3757488/181101907-015d72b9-5c9e-4614-993b-01cfb3c942ba.png)

[2022-07-29 19:15] V0lantis opened #202 "Add a progress bar while executing a request"
It would be nice to a have a progress bar. When parsing big files like entire country, having a progress bar would show if it is still going well

[2022-08-19 01:49] dakotamcc commented on #182
Having the same issue with get_pois(), any updates or workarounds found? Thanks!!

[2022-08-27 07:27] geoHeil opened #204 "No boundaries extracted (except administrative ones)"
**Describe the bug**
Only administrative boundaries are extracted. Postal codes or any other are missing.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
Other boundaries are extracted

**Environment:**
 - OS: ubuntu
 - Python package source (PyPi, conda, ...) conda
 - Versions of Python, Java Development Kit, Python modules: 3.10, current installation

[2022-09-01 22:49] jaguardo commented on #162
perhaps get_data could use the "id" of the region provided by the geojson from https://download.geofabrik.de/index-v1.json for download, seems like they have already thought about these conflicts.

[2022-09-02 21:48] jaguardo commented on #6
Having something to accomplish this would be very useful!

[2022-09-02 22:02] jaguardo commented on #6
@pz-max any chance you can share a little more how you did this? can't quite crack the nut with esy-osmfilter to simply crop the size of a pbf and then use it with pyrosm. Thanks!

[2022-09-03 03:11] jaguardo commented on #176
I have a similar issue, after converting (or actually down sizing pbf) I am unable to use them within pyrosm.

conversion:
[code]
and then try and use it within pyrosm
[code]

I get the following error, obviously I need to dive into the converted file more...
[code]

Also tried it with `nodes=True`
[code]

[2022-09-04 08:14] pz-max commented on #6
@jaguardo, esy-osm does not crop the pbf. It can just deal with large pbf. We integrated it [here](https://github.com/pypsa-meets-africa/pypsa-africa/blob/main/scripts/download_osm_data.py). The output is a geoJSON containing all the data from OSM. @mnm-matin is redesigning `esy-osm` to ease the use a bit, though, at the moment with little priority.

[2022-10-11 09:17] lenkahas commented on #181
Hi thanks for getting back to me.
I was looking to apply fully customised tag selection, for example for
mopeds or cyclists. If I'm honest, I was not able to figure out how the
custom tag selection works for the get_network().
So I managed to go around the issue by retrieving full network
get_network(filter='all'), then subset the edges by the custom tag
dictionary, and then subset the nodes by th

[2022-10-12 14:28] ricsatjr opened #205 "" The kernel appears to have died. It will restart automatically""
**Describe the bug**
Extracting an initialized country-level OSM object (output of `OSM()`) causes kernel to die with the message, "The kernel appears to have died. It will restart automatically", when I attempt to extract features from it (e.g., `osm.get_boundaries()', `osm.get_pois()`).

The extraction works if I extract from an initialized city-level OSM object. But when I try to extract the co

[2022-11-13 06:05] acmeguy commented on #191
Shapely 1.8.5 does not work properly on my mac with Python 3.10.8.
Shapely 2 does.

pyrosm does not work with Shapely 2 and I can not figure out the refactoring required.

Can you please make a version available that works with Shapely 2 or add patch information here (or point to pull request if one exists)

[2022-11-13 06:07] acmeguy commented on #191
@HTenkanen - Are you referring to the lgeos issue?

[2022-11-15 00:56] acmeguy commented on #152
This is still happening for me. Is this solved?

[2022-11-15 00:57] acmeguy commented on #154
Me too

[2022-11-15 06:31] r-leyshon opened #206 "GEOSException: IllegalArgumentException: Argument must be Polygonal or LinearRing"
**Describe the bug**
`osm.get_buildings()` throws a pygeos.GEOSException with what appears to be a valid boundary geometry.

**To Reproduce**
Steps to reproduce the behavior:
1. Please see reprex at bottom of issue.

**Expected behavior**
`osm.get_buildings` to return the building features for the provided bounding box geometry.

**Environment:**
 - OS:  mac-os
 - Python package source: PyPi, pyro